body{
    background: #f5f5f5;
}
*, :after, :before {
    box-sizing: border-box;
}
.site-active .container{
    padding:0 15px;
}
.nav-column {
    position: relative;
    width: 100%;
    height: 55px;
    background-color: #fff;
    font-size: 24px;
    line-height: 55px;
    text-align: center;
    color: #333;
}
.icon-calendar {
    font-size:24px;
    position: relative;
    background-position: 0 0;
    top: 1px;
}
.activity-list-warp {
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 13px;
}
.activity-list-warp li{
    position: relative;
    width: 571px;
    height: 523px;
    float: left;
    margin-bottom: 30px;
}
.activity-list-warp li:nth-child(2n+1) {
    margin-right: 28px;
}
.site-active li{
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    cursor: pointer;
}
.activity-list-warp li:hover{
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}
.activity-list-warp .lable {
    position: absolute;
    left: -10px;
    height: 26px;
    color: #fff;
    background-color: #f63756;
    line-height: 26px;
    padding: 0 10px;
    z-index: 20;
    top: 10px;
}
.activity-list-warp .lable:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 10px solid #cd213d;
    border-left: 10px solid transparent;
}

.activity-list-warp .activity-pic img{
    width:100%;
}

.activity-content{
    position: relative;
    padding: 20px 28px;
    background: #fff;
}
.activity-content .activity-content {
    font-size: 14px;
    line-height: 24px;
    padding:20px 0;
    color: #333;

}
.activity-content .apply a{
    -webkit-transition: 0.3s, color 0.5s;
    -moz-transition: 0.3s, color 0.5s;
    transition: 0.3s, color 0.5s;
}
.activity-content .activity-type {
    float: right;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    padding: 0 16px;
    color: #fff;
    background-color: #3ca5f6;
}
.activity-content .activity-type-end {
    background-color: #f0f0f0;
    color: #bbb;
}
.activity-name a{
    font-size: 20px;
    line-height: 28px;
}

.activity-name a:hover{
    color: #36d38c;
}

.activity-content-warp .activity-content {
    line-height: 24px;
    margin-top: 20px;
}
.review-list {
    margin-top: 20px;
}
.activity-content .get-more {
    position: absolute;
    right: 20px;
    line-height: 14px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.activity-content .get-more:hover{
    color: #36d38c;
}
.activity-content .apply a:hover{
    color: #36d38c;
}
/*内容*/
.activity-detail .image {
    width: 710px;
    height: 400px;
    overflow: hidden;
    float: left;
    margin-right: 30px;
}
.activity-detail .image img{
    width: 100%;
}

.activity-instr {
    position: relative;
    float: left;
    width: 460px;
    height: 400px;
    background-color: #fafafa;
    padding: 20px;
}

.activity-instr .activity-title {
    font-size: 18px;
    line-height: 28px;
}

.activity-instr ul {
    margin-top: 15px;
}

.activity-instr ul li {
    font-size: 16px;
    line-height: 28px;
    color: #999;
}
.marker-price {
    position: relative;
    margin-left: 80px;
    margin-top: -28px;
}
.activity-instr ul li.sales-info {
    position: relative;
}
.activity-instr ul li .promotion-box {
    font-size: 14px;
    line-height: 1.5;
    position: absolute;
    top: 4px;
    margin-left: 120px;
    color: #F63756;
}
.sales {
    background: #f63756;
    font-style: normal;
    color: #FFF;
    padding: 0 5px;
    border-radius: 2px;
    margin-right: 5px;
    font-size: 12px;
}
.activity-instr ul li .promotion-box .sales {
    position: absolute;
    margin-left: -40px;
}
.activity-instr ul li .promotion-box .download {
    color: #999;
    cursor: pointer;
    margin-left: 10px;
}
.btn-sign-up {
    position: absolute;
    bottom: 30px;
    padding: 0 28px;
    height: 40px;
    color: #fff;
    line-height: 38px;
    font-size: 18px;
    display: inline-block;
    background-color: #36d38c;
}
.btn-sign-up:hover{
    background: #46c37b;
}

/*扫app*/

.app-guide .app-guide-box {
    position: absolute;
    width: 240px;
    height: 128px;
    z-index: 10;
    box-shadow: 1px 1px 15px rgba(0,0,0,.3);
    top: 60px;
    right: 10px;
    background: #fff;
    padding: 10px;
    font-size: 14px;
    display: none;
}
.app-guide .app-guide-box:before {
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: #fff;
    border: 1px solid #ddd;
    border-width: 1px 1px 0 0;
    position: absolute;
    top: -6px;
    right: 27px;
    content: " ";
}
.activity-instr ul li .promotion-box .app-guide-box:before {
    right: 99px;
}

.app-guide-box img {
    width: 108px;
    height: 108px;
    float: left;
}
.app-guide-box .app-guide-title {
    line-height: 36px;
    text-align: center;
}
.app-guide-box .app-guide-title span:first-child {
    display: inline-block;
    position: relative;
    margin-top: 17px;
}
/*往下显示导航*/
.site-active .container {
    padding: 0;
    width: 1200px!important;
    position: relative;
}
.nav-floating {
    display: none;
    position: fixed;
    top: 0;
    height:80px;
    width: 100%;
    background: #fff;
    box-shadow: 0 4px 6px rgba(18,21,21,.19);
    z-index: 10;
    line-height: 80px;
}
.nav-floating .title {
    font-size: 22px;
}
.nav-floating .btn-sign-up {
    right: 0;
    left: inherit;
    height: 40px;
    line-height: 38px;
    font-size: 18px;
    bottom: 24px;
}
/*活动*/
.activity-introduce {
    border-top: 1px solid #f0f0f0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-top: 75px;
    margin-bottom: 30px;
    margin-top: 30px;
    background: #fff;
}

.span-mark-author {
    border-bottom: 4px solid #f63756;
    position: absolute;
    z-index: 1;
    height: 40px;
    line-height: 20px;
    margin: -40px 0 0;
    font-size: 16px;
}

.pl-form-wrap .span-mark-author, .pl-list-wrap .span-mark-author {
    font-size: 18px;
    border: none;
    color: #bbb;
}

.dp-box .span-mark-author, .pl-form-wrap .span-mark-author.active, .pl-list-wrap .span-mark-author.active {
    border-bottom: 4px solid #f63756;
    color: #333;
}

.activity-introduce .activity-content-wrap {
    font-size: 16px;
    line-height: 28px;
    padding: 25px 0 0;
    word-break: break-all;
    word-wrap: break-word;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
}

.project-channel {
    margin-top: 70px;
    border-top: 1px solid #f0f0f0;
}



