body{
    background: #f5f5f5;
}
.icon-sprite, .icon-clock, .icon-dot, a:hover .icon-dot, .cur .icon-dot, .icon-consult, .icon-personal, .icon-speak, .icon-test, .icon-heart, .icon-cash, .icon-talk, .icon-vip, .icon-everytime, .icon-correct, .icon-qa, .icon-mock, .icon-material, .icon-system, .link-qq:hover .icon-qq, .icon-consult2, .icon-qq-w, .icon-consult2-w, .icon-phone, .icon-qqm, .icon-consult2m, .icon-phonem, .icon-star, .btn_cancel_favorite .icon-star, .btn_cancel_favorite:hover .icon-star, .icon-order, a:hover .icon-star, a:hover .icon-order, .icon-arrow-b, .icon-arrow-t, .icon-pull, .icon-arrowdown, .icon-arrowup, .icon-try, .icon-grayDot, .icon-prev, a:hover .icon-prev, .icon-next, a:hover .icon-next, .active .icon-prev, .active .icon-next, .active:hover .icon-prev, .active:hover .icon-next, .icon-QQqun, .c_contmain .bx-prev, .c_contmain .bx-next {
    background-image: url('http://res.c.hjfile.cn/app/course/images/icon-s7ac8ec16a0.png');
    background-repeat: no-repeat;
}
#content-container{
    padding-bottom: 30px;
}
/*星星颜色*/
.color-warning {
    color: #ff8a0c !important;
}
.score i {
    color: #e1e1e1;
}

.hide {
    _display: none !important;
}

.saleTxt {
    line-height: 30px;
    overflow: hidden;
    font-size: 14px;
    font-family: "microsoft yahei";
}

.icon_sale {
    display: inline-block;
    vertical-align: top;
    *vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 1px;
    background: #68C04A;
    -ms-border-radius: 14px;
    border-radius: 14px;
    color: #FFF;
    font-size: 14px;
    line-height: 19px;
    font-family: verdana, helvetica;
    text-align: center;
    margin-left: 10px;
    behavior: url(http://res.c.hjfile.cn/pie/PIE.htc);
    font-style: normal;
}
.breadcrumb {
    height: 40px;
    line-height: 40px;
    background: #f5f5f5;
    color: #616161;
}
.breadcrumb .container{
    position: relative;
}
.breadcrumb a {
    font-size: 12px;
    color: #757575;
}

.breadcrumb a:hover {
    color: #424242;
}

.breadcrumb .sep {
    margin: 0 0.5em;
    color: #b0b0b0;
}
.breadcrumb .live-notice{
    width:428px;
    position: absolute;
    font-size: 12px;
    color: #a5a5a5;
    top:0;
    right:0;
}
.live-notice .title{
    font-size: 14px;
    color: #15c288;
    margin-left: 15px;
    margin-right: 15px;
}

.intro-header {
    padding-bottom: 20px;
    position:relative;
    color: #f5f5f5;
}
.intro-header .intro-info {
    width:1130px;
    margin:0 auto;
    padding:15px 35px;
    background:#fff;
    position:relative;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.intro-header .page-breadcrumb,.intro-header .page-breadcrumb a {
    color:#999
}
.intro-header .page-breadcrumb a:hover {
    color:#36d38c;
}
.intro-header .header-bg {
    position:absolute;
    width:100%;
    height:100%;
    background-size:cover;
    top:0;
    left:0;
    z-index:0;
    overflow:hidden
}
.intro-header .intro-title {
    font-size:24px;
    margin:5px 0 7px 0;
    font-weight:300;
    color: #333;
}
.es-qrcode {
    text-align: center;
    cursor: pointer;
}
.es-qrcode > i {
    font-size: 24px;
    color: #919191;
}

.es-qrcode.open .qrcode-popover {
    display: block \9;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
    filter: alpha(opacity=100);
}

.es-qrcode.top .qrcode-popover {
    top: -5px;
    right: 0;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
}
.es-qrcode .qrcode-popover {
    position: absolute;
    padding: 5px 10px;
    font-size: 12px;
    background: #fff;
    color: #313131;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    display: none \9;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
}

.es-qrcode .qrcode-popover img {
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
}
.es-qrcode .qrcode-popover .sweep{
    display: inline-block;
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 13px;
}
.intro-header .intro-desc {
    color:#666;
    font-size:14px;
    margin-bottom:20px !important;
    line-height: 25px;
}
.intro-header .support-device {
    float:left;
    color:#999;
    margin:10px 0 0 0 !important;
    font-size:14px;
    width:480px;
}
.intro-header .support-device .fl {
    line-height:25px;
    height:25px
}
.intro-header .support-device .split {
    color:#eaeaea;
    margin:0 15px
}
.intro-header .support-device .ipad-code {
    display:inline-block
}
.intro-header .support-device-r {
    margin-left:30px !important;
    width:auto;
    padding:2px 0
}
.intro-header .intro-info-l {
    float:left;
    margin-top: 10px;
}
.intro-header .intro-info-l .intro-cover {
    position:relative;
    display:block;
    width:480px;
    height:320px
}

.intro-header .intro-info-l .intro-cover img {
    width:100%;
    height:100%;
    display:block
}
.intro-header .intro-info-l .favorite-span {
    background:rgba(0,0,0,0.16);
    border-radius:4px;
    padding:4px 10px;
    display:block;
    position:absolute;
    bottom:10px;
    right:10px;
    color:#FFF
}
.intro-header .intro-info-l .favorite-num {
    font-size:20px;
    vertical-align:-3px;
    margin-right:2px
}
.intro-header .intro-info-con {
    position:relative
}
.intro-header .intro-info-r {
    width:580px;
    float:left;
    position:relative
}
.intro-header .intro-info-r .intro-price {
    border-bottom:1px solid #fafafa
}
.intro-header .intro-info-r .intro-info-box {
    padding:0 10px 0 40px
}
.intro-header .intro-info-r .intro-info-t {
    border-bottom: 1px solid #e9eae9;
    padding-bottom:4px;
    margin-bottom: 20px;
    margin-top: -10px;
    font-size: 14px;
    color: #999;
    zoom: 1;
    position:relative
}

.intro-header .intro-info-r .class-price-unit {
    color:#f60;
    font-size:24px
}
.intro-header .intro-info-r .class-price {
    color:#f60;
    font-size:28px;
    margin-right:10px;
}
.intro-header .intro-info-r .time-num {
    color:#f60;
    font-size:20px
}
.intro-header .intro-info-r .class-tags {
    background:#FF8533;
    border-radius:2px;
    padding:1px 5px 2px 5px;
    vertical-align:middle;
    color:#FFF;
    font-size:12px;
    margin-left:5px;
    cursor:pointer
}
.intro-header .class-info-dl {
    float:left;
    width:100%;
    margin-bottom: 15px;
    line-height: 30px;
}
.intro-header .class-info-dl#panel_class_feature {
    margin-bottom:0
}
.intro-header .class-info-dl dt {
    color:#999;
    height:28px;
    overflow:hidden;
    line-height:28px
}
.intro-header .class-info-dl .split {
    color:#ccc;
    margin:0 7px
}
.intro-header .class-info-dl dd {
    color:#666
}
.intro-header .class-info-siblings {
    margin-bottom:16px
}
.intro-header .time-info-dl dd {
    color:#666;
}

.time-info-dl {
    font-size: 14px;
}

.number {
    display: inline-block;
}
.evaluate {
    padding-right: 15px;
    display: inline-block;
}

.intro-header .btn-more-role {
    display:inline-block;
    padding:0 15px;
    background:#f6f6f6;
    color:#666
}
.intro-header .btn-more-role:hover {
    color:#fff;
    background:#d2d2d2
}
.intro-header .btns-box {

}
.intro-header .btnBuy2 {
    display:inline-block;
    color:#FFF;
    background:#F60;
    line-height:49px;
    font-size:22px;
    width:230px;
    height:50px;
    border-radius:3px;
    text-align:center;
    position:relative;
    font-family:'microsoft yahei';
    behavior:url(http://res.c.hjfile.cn/pie/PIE.htc);
    vertical-align:middle;
    margin-left:40px
}
.intro-header .btnBuy2:hover {
    background:#da5700
}
.intro-header .btnConsult {
    display:inline-block;
    color:#ff6600;
    background:#ffeee3;
    border:1px solid #ff992b;
    line-height:47px;
    font-size:20px;
    width:150px;
    height:48px;
    border-radius:3px;
    text-align:center;
    position:relative;
    font-family:'microsoft yahei';
    vertical-align:middle;
    margin-left:10px
}
.intro-header .btnConsult:hover {
    background:#fed8bf
}
.intro-header .btnBuy {
    display:inline-block;
    color:#fff;
    background:#f60;
    line-height:49px;
    font-size:22px;
    width:230px;
    height:50px;
    border-radius:3px;
    text-align:center;
    position:relative;
    font-family:'microsoft yahei';
    vertical-align:middle;
    margin-left:30px
}
.intro-header .btnBuy:hover {
    background:#ee5a00
}
.intro-header .btnBuy.disabled,.intro-header .btnBuy.disabled:hover {
    background:#e8e8e8
}
.intro-header .btnOther {
    display:inline-block;
    *display:inline;
    zoom:1;
    float:right;
    font-size:14px;
    text-align:center;
    border-radius:3px;
    position:relative;
    font-family:'microsoft yahei';
    behavior:url(http://res.c.hjfile.cn/pie/PIE.htc);
    vertical-align:middle;
    margin-left:10px
}
.intro-header .btnOther a {
    display:inline-block;
    color:#999
}
.intro-header .btnOther i{
    font-size: 18px;
}
.intro-header .btnOther .btn_favorite i{
    margin-right: 3px
}
.intro-header .btnOther a:hover {
    color:#36d38c;
}

.btn_order i{
    margin-right: 5px;
    font-size: 16px
}

.intro-header .feture-item {
    text-align:center;
    line-height:28px;
    display:block;
    float:left;
    margin:10px 12px 10px 0;
    width:92px;
    color:#666;
    background:#f4f4f4;
    cursor: pointer;
}
.intro-header .feture-item .feature-icon {
    display:inline-block;
    vertical-align:middle;
    width:25px;
    height:25px;
    background: url("../images/feature-icon.png") no-repeat;
}
.intro-header .feture-item .system{
    background-position: 0 0;
}
.intro-header .feture-item .everytime{
    background-position: 0 -25px;
}
.intro-header .feture-item .imaterial{
    background-position: -25px 0;
}
.intro-header .feture-item .qa{
    background-position: -25px -25px;
}
.intro-header .feture-item .comeup{
    background-position: 0 -50px;
}
.intro-header .not-item{
    background: #e1e1e1;
    color: #fff;
}
.intro-header .not-item .feature-icon {
    display:inline-block;
    vertical-align:middle;
    width:25px;
    height:25px;
    background: url("../images/feature2-icon.png") no-repeat;
}
.intro-header .not-item .comeup{
    background-position: 0 -50px;
}
.intro-nav {
    height:53px;
    z-index:999999;
    margin-bottom:15px;
}
.intro-nav-main {
    height:52px;
    position:relative;
    width:100%;
    overflow: hidden;
    box-shadow:0 3px 4px -3px rgba(0, 0, 0, 0.15);
    /*-webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);*/
}
.intro-nav-main.fixed {
    position:fixed;
    top:0;
    left:0;
    z-index:99;
    -webkit-box-shadow: 0 3px 4px rgba(0,0,0,0.18);
    box-shadow: 0 3px 4px rgba(0,0,0,0.18);
    -webkit-transition: -webkit-box-shadow .2s;
    transition: box-shadow .2s;
}
.intro-nav-main .intro-nav-con {
    width:1200px;
    margin:0 auto;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.intro-nav-main .intro-nav-con .nav-price-box {
    margin-top:7px;
    display:none
}
.intro-nav-main .intro-nav-con .class-price-unit {
    color:#F60;
    font-size:21px;
    vertical-align:-8px;
    margin-right:3px
}
.intro-nav-main .intro-nav-con .class-price {
    font-size:30px;
    color:#f60;
    margin-right:10px;
    vertical-align:middle
}
.intro-nav-main .intro-nav-con .btnBuy {
    display:inline-block;
    color:#fff;
    background:#f60;
    line-height:37px;
    font-size:20px;
    width:160px;
    height:38px;
    border-radius:3px;
    text-align:center;
    position:relative;
    behavior:url(http://res.c.hjfile.cn/pie/PIE.htc);
    vertical-align:middle
}
.intro-nav-main .intro-nav-con .btnBuy:hover {
    background:#da5700
}
.intro-nav-main .intro-nav-con .btnBuy.disabled,.intro-nav-main .intro-nav-con .btnBuy.disabled:hover {
    background:#DEDEDE
}
.intro-nav-main .nav-list a {
    display:block;
    height:52px;
    width:182px;
    line-height:52px;
    font-size:18px;
    text-align:center;
    float:left;
    color:#494949;
    background:url(http://res.c.hjfile.cn/app/course/images/navSplit.png) no-repeat 0 center;
    webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.intro-nav-main .nav-list a.cur,.intro-nav-main .nav-list a.cur:hover {
    background:#36d38c;
    color:#fff;
    height:52px
}
.intro-nav-main .nav-list a:hover {
    background:#eee;
    text-decoration:none;
}
.intro-nav-main .icon-listen {
    display:inline-block;
    background:#FF992B;
    color:#FFF;
    margin-left:4px;
    margin-right:-13px;
    vertical-align:2px;
    border-radius:13px;
    font-style:normal;
    line-height:17px;
    font-size:12px;
    padding:1px 7px;
    behavior:url(http://res.c.hjfile.cn/pie/PIE.htc)
}

.summary_outer_container a,.class-detail-panel a,.intro-material-panel a,.intro-role-panel a,.intro-goal-panel a {
    color:#1071B5
}
.summary_outer_container a:hover,.class-detail-panel a:hover,.intro-material-panel a:hover,.intro-role-panel a:hover,.intro-goal-panel a:hover {
    color:#F60
}
.es-section {
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.es-section.section-lg {
    min-height: 400px;
}

.es-section .section-header {
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid #f5f5f5;
}

.es-section .section-header h1 {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 20px;
}

.es-section .section-header h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 16px;
}

.es-section .section-header .more {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    color: #919191;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.es-section .section-header .more:hover {
    color: #616161;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.es-section .section-header .more > i {
    font-size: 24px;
}

.lt-ie9 .es-section {
    border: 1px solid #e1e1e1;
}



.nav-panel {
    min-height:400px;
    display:none
}
.loading-box {
    margin:100px 0;
    text-align:center
}
.icon-loading {
    width:100px;
    height:100px;
    background-image:url(http://res.c.hjfile.cn/app/images/home_v4/loading.gif);
    margin:120px auto 0;
    display:block
}
.main hr {
    height:0px;
    width:100%;
    border-top:1px solid #E7E7E7;
    margin-top:40px;
    display:block;
    float:left;
    line-height:0;
    border-right:0px;
    border-bottom:0px;
    border-left:0px;
    margin-bottom:0
}
.summary_outer_container {
    overflow:hidden
}
.summary_maxheight {
    height:124px
}
a.summary_switch {
    color:#f60
}
#ing_push {
    display:none !important
}
a.btn-sale {
    color:#f60;
    margin-left:10px
}
#newheader .header-container {
    width:1200px !important
}
.coupon-box {
    position:relative;
    z-index:2
}
.coupon-box .coupon-title {
    color:#999;
    height:30px;
    display:inline-block;
    line-height:30px;
}
.coupon-box .coupon-con .icon-arrowdown,.coupon-box .coupon-con .icon-arrowup {
    position:absolute;
    right:3px;
    top:13px;
    margin:0;
    opacity:0.4
}
.coupon-box .total-num {
    position:absolute;
    top:11px;
    right:25px;
    font-size:12px
}
.coupon-box .icon-coupon {
    width:18px;
    height:18px;
    border-radius:1px;
    line-height:18px;
    margin-right:6px;
    font-style:normal;
    text-indent:3px;
    font-size:12px;
    color:#FFF;
    background:#F60;
    display:inline-block;
    zoom:1;
    vertical-align:1px
}
.coupon-box .split {
    color:#EAEAEA;
    margin:0 2px 0 7px
}
.coupon-box {
    position: relative;
    margin-top: 5px;
    z-index: 2;
}
.coupon-box .coupon-con {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.coupon-box .coupon-list {
    border:1px solid #FFF;
    height:30px;
    overflow:hidden;
    background:#FFF;
    margin-left:58px;
}
.coupon-box .coupon-list a {
    color:#F60
}
.coupon-box .coupon-list li {
    line-height:30px;
    padding:0 18px;
    color:#f60;
    height:30px;
    overflow:hidden;
    font-size:15px
}
.coupon-box .coupon-list li.coupon-item-hui {
    color:#494949;
    font-size:14px
}
.coupon-box .coupon-list.hover {
    border:1px solid #E3E3E3;
    height:auto;
    overflow:visible
}
.coupon-box .salename {
    max-width:202px;
    width:202px \9;
    overflow:hidden;
    vertical-align:middle;
    height:33px;
    display:inline-block
}
.coupon-box .countDown-box,.coupon-box .endDate-box {
    vertical-align:middle;
    height:33px;
    display:inline-block;
    position:relative;
    zoom:1;
    overflow:hidden
}

.down {
    font-size: 20px;
    position: absolute;
    right: 3px;
    top: 7px;
    margin: 0;
    opacity: 0.4;
    cursor: pointer;
}


.pop-wrapper {
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:transparent;
    z-index:9999999;
    font-family:"microsoft yahei"
}
.background-overlay {
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:#000;
    filter:alpha(opacity=45);
    -moz-opacity:0.45;
    -khtml-opacity:0.45;
    opacity:0.45;
    z-index:9999999
}
.pop-container-overlay {
    position:fixed;
    font-size:16px;
    z-index:9999999;
    width:420px;
    height:200px;
    top:50%;
    left:50%;
    margin:-100px 0 0 -210px;
    background:#000;
    filter:alpha(opacity=20);
    -moz-opacity:0.2;
    -khtml-opacity:0.2;
    opacity:0.2;
    padding:6px
}
.pop-container {
    position:fixed;
    font-size:16px;
    z-index:9999999;
    width:420px;
    height:200px;
    top:50%;
    left:50%;
    margin:-100px 0 0 -210px;
    border:6px solid transparent
}
.pop-content {
    position:relative;
    background-color:#fff;
    text-align:center;
    width:100%;
    height:100%
}
.pop-content .icon-close-popup {
    position:absolute;
    width:20px;
    height:20px;
    top:10px;
    right:10px;
    background:0 0 url(http://res.c.hjfile.cn/images/icon-close-popup.png) no-repeat transparent;
    cursor:pointer
}
.pop-content .icon-no-stock {
    float:left;
    padding:55px 10px 56px 55px
}
.pop-content .pop-detail {
    color:#666;
    padding:55px 55px 55px 0;
    font-size:15px;
    text-align:left;
    float:right
}
.pop-content .pop-title {
    font-size:18px;
    color:#666;
    height:32px;
    line-height:32px;
    font-weight:normal
}
.pop-content .pop-action {
    margin:10px 0;
    text-align:center;
    width:144px;
    display:inline-block;
    height:38px;
    line-height:38px;
    font-size:16px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    color:#fff;
    text-decoration:none;
    background-color:#74cd55;
    cursor:pointer
}
.saleTxtFixed {
    font-size:14px;
    display:none;
    width:285px;
    height:26px;
    line-height:26px;
    text-align:center;
    color:#ff9800;
    float:right;
    background:#ffeee3;
    margin-top:7px
}
.saleTxtFixed a {
    background:#FCA232;
    color:#FFF;
    padding:2px 5px;
    border-radius:2px;
    position:relative;
    font-size:12px
}
.intro-nav-main.fixed .saleTxtFixed {
    display:block
}
a.introTestBtn {
    color:#fff !important;
    line-height:30px;
    padding:0 15px
}
.introTestLine {
    text-align:center;
    margin-top:20px
}
.class-info-dl dt,.class-info-dl dd {
    float:left
}
.class-info-dl dt {
    margin-right:20px;
    font-size:14px
}
.class-info-siblings dd {
    width:81px;
    height:28px;
    text-align:center;
    line-height:28px;
    border:1px solid #e5e5e5;
    margin:0 8px 0 0;
    position:relative
}
.class-info-siblings dd .arrow {
    position:absolute;
    width:0;
    height:0;
    border:8px solid;
    border-color:transparent transparent #f6f6f6 transparent;
    left:50%;
    margin-left:-8px;
    bottom:-22px
}
.class-info-siblings dd.active {
    height:26px;
    line-height:26px;
    width:79px;
    background:url(http://res.c.hjfile.cn/app/course/images/done.png) 100% 100% no-repeat;
    border:2px solid #ff992b
}
.class-info-siblings dd.last {
    margin-right:0
}
.time-info-dl {
    font-size:14px
}
.people-info-dl dd {
    line-height:28px
}
.people-info-dl .people-item {
    background:#f6f6f6;
    padding:0 15px;
    display:inline-block;
    margin-right:12px
}
.container_class_feature {
    width:535px;
    height: 92px;
    position:relative;
    z-index:1
}
.container_class_feature .inner {
    position:absolute;
    background:#fff;
    width:100%;
    top:-10px;
    margin-left:-10px;
    padding-left:10px
}
.container_class_feature .inner.bor {
    border:1px solid #e3e3e3;
    overflow:visible;
    height:auto;
    top:-11px;
    margin-left:-11px
}
.container_class_feature .icon-arrowdown {
    margin:0;
    right:5px;
    margin-top:18px;
    position:absolute
}
.nav-list{background: #fff}
.course-detail-main{width:910px;float: left}
.course-sidebar{width: 270px;float: right;font-size: 14px}
.course-detail-content {
    display: none;
}

/*课程大纲*/
.chapter{height:40px;background: #f5f5f5;cursor: pointer;padding-left: 15px}
.chapter i{color: #333}
.chapter .title{line-height: 40px;padding-left: 15px;font-size: 16px;color: #919191}
.fa-list{position: relative;top:0;left: 15px;color: #919191}
.fa-circle-o{margin-right: 10px;}
.fa-video-camera{margin-right: 10px;color: #919191;position: relative;top:5px}
.lib_Menubox2 .active{border-bottom:2px solid #46c37b;}
.period-list .period {
    position: relative;
}

.period-list {
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}
.period-list > li {
    margin-bottom: 10px;
    padding: 10px 15px;
}
.period-list .period:hover, .period-list .period.item-active {
    background-color: #f2fae3;
}
.period-list .period {
    position: relative;
}

.period-list .period > a {
    color: #919191;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.period-list .period .title {
    color: #616161;
}
.period-list .period .course-type i {
    font-size: 18px;
    color: #919191;
    position: relative;
    top: 2px;
}


.period-list > li {
    margin-bottom: 10px;
    padding: 10px 15px;
}
.period-list .period .course-type {
    position: absolute;
    top: 11px;
    right: 15px;
    line-height: 20px;
}
/*评论*/
.pagination > li > a{
    position: relative;
    float: left;
    padding: 5px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #919191;
    background-color: #f5f5f5;
    border: 1px solid #dcdcdc;
    margin: 5px;
    border-radius: 2px
}
/*分页*/
.nav.nav-tabs {
    position: relative;
    margin-bottom: 25px;
    border-color: #f5f5f5;
}

.nav.nav-tabs .highlight {
    position: absolute;
    bottom: -1px;
    border-bottom: 2px solid #46c37b;
}

@media (max-width: 767px) {
    .nav.nav-tabs .highlight {
        display: none;
    }
}

.nav.nav-tabs > li {
    margin-bottom: 0;
}

.nav.nav-tabs > li > a {
    border: none;
    margin-right: 0;
    color: #313131;
    font-size: 16px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 5px 20px 15px;
}

@media (max-width: 1199px) {
    .nav.nav-tabs > li > a {
        padding: 5px 10px 10px;
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .nav.nav-tabs > li > a {
        padding: 8px;
    }
}

.nav.nav-tabs > li > a:hover,
.nav.nav-tabs > li > a:focus {
    background: none;
}

.nav.nav-tabs > li.active > a, .nav.nav-tabs > li:hover > a {
    border: none;
    background: none;
    color: #46c37b;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media (max-width: 767px) {
    .nav.nav-tabs > li.active > a,
    .nav.nav-tabs > li:hover > a {
        border: none;
    }
}

.nav.nav-tabs > li.active > a .text-muted,
.nav.nav-tabs > li:hover > a .text-muted {
    color: #46c37b;
}

.nav.nav-tabs > li.active > a .badge,
.nav.nav-tabs > li:hover > a .badge {
    background-color: #46c37b;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.nav.nav-tabs .badge {
    margin-left: 5px;
    background-color: #919191;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.nav-btn-tab {
    position: relative;
    padding-right: 80px;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .nav-btn-tab {
        padding-right: 0;
    }
}

.nav-btn-tab .nav.nav-tabs {
    border: none;
    margin-bottom: 0;
}

.nav-btn-tab .btnbar {
    position: absolute;
    top: 0;
    right: 0;
}

.pager > li > a {
    color: #616161;
    background-color: #f5f5f5;
    border-color: #dcdcdc;
}

.pager > li > a:hover,
.pager > li > a:focus,
.pager > li > a.active {
    background-color: #e8e8e8;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
    background-color: #fafafa;
    border-color: #f5f5f5;
    color: #c7c7c7;
}
/*资料区*/
.media-content{
    padding-left: 10px;
}
.media-list .media {
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 15px;
}
.media-body {
    word-break: break-all;
}
.mbs {
    margin-bottom: 5px !important;
}
.mbs a {
    color: #46c37b;
}
.text-sm {
    font-size: 12px !important;
}
.text-sm span{color: #333}
.media-list .media-body .bullet {
    padding: 0 3px;
    font-size: 16px;
    color: #ccc;
    height: 20px;
}
a.link-muted {
    color: #9AB2CF;
}
.media-list .media-body .bullet {
    padding: 0 3px;
    font-size: 16px;
    color: #ccc;
    height: 20px;
}
.media-list .media {
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 15px;
}
/*问答*/
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.nav-filter .nav-pills > li {
    margin-right: 15px;
}

.nav-pills > li {
    margin-right: 5px;
}
.nav-pills > li {
    float: left;
}
.nav > li {
    position: relative;
    display: block;
}

.nav-pills.nav-pills-sm > li > a {
    font-size: 12px;
    line-height: 1.5;
    padding: 4px 13px;
}

.nav-pills > li.active > a {
    color: #fff;
    background: #46c37b;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #ffffff;
    background-color: #46c37b;
}
.nav-pills > li > a {
    padding: 10px 15px;
    color: #616161;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.nav-filter .btn-group {
    float: right;
    margin-top: -5px;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-default {
    color: #616161;
    background-color: #f5f5f5;
    border-color: #dcdcdc;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default.active {
    color: #616161;
    background-color: #e1e1e1;
}


.open > .dropdown-menu {
    display: block;
}
.dropdown-menu {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: none;
}
.dropdown-menu {
    display: none;
    position: absolute;
    top:20px;
    left: 44px;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #46c37b;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #616161;
    white-space: nowrap;
}
.dropdown-menu > li > a {
    color: #616161;
    padding: 10px 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.empty {
    text-align: center;
    color: #c1c1c1;
    padding: 20px 0;
}
.dropdown-menu {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: none;
}

.dropdown-menu .dropdown-header {
    padding: 5px 20px;
    margin-bottom: 10px;
    text-align: center;
    color: #616161;
    font-size: 14px;
    border-bottom: 1px solid #f5f5f5;
}

.dropdown-menu > li {
    position: relative;
}

.dropdown-menu > li > a {
    color: #616161;
    padding: 10px 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.dropdown-menu > li > a:hover {
    background: #46c37b;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.topic-list .topic-item {
    position: relative;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f5f5f5;
}

.media-left {
    padding-right: 15px;
}

.js-user-card {
    display: inline-block;
}
.avatar-sm {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 40px !important;
    height: 40px !important;
}

.media-body {
    word-break: break-all;
}
.topic-list .topic-item .title {
    margin-bottom: 10px;
}
.color-danger {
    color: #e83d2c !important;
}
.topic-list .topic-item .title a {
    color: #616161;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.topic-list .topic-item .title a:hover{
    color: #46c37b;
}
.topic-list .topic-item .metas {
    color: #919191;
}
.topic-list .topic-item .metas a{
    color: #46c37b;
}
.topic-list .topic-item .metas a:hover{
    color:#2e8e57
}
.topic-list .media-data {
    position: absolute;
    top: 5px;
    right: 0;
    text-align: center;
    color: #919191;
}

.topic-list .media-data span {
    font-size: 14px;
    padding: 0 10px;
    display: inline-block;
}
.topic-list .media-data span + span {
    border-left: 1px solid #e1e1e1;
}

/*直播须知*/

.emptyBox {
    width: 910px;
}
#course-liveinfo .title {
    text-align: center;
    padding-top: 20px;
    color: #333333;
    font-size: 20px;
}

#course-liveinfo{
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#course-liveinfo ul {
    padding: 10px 20px 30px 20px;
}

#course-liveinfo ul li {
    padding: 5px 0;
    font-size: 14px;
    color: #666;
    line-height:20px
}

/*侧边栏*/
.panel-col {
    min-height: 400px;
}

.panel-default {
    padding: 0 15px;
    background: #fff;
    margin-bottom: 15px;
    position: relative;
}

.panel-default > .panel-heading .panel-title {
    color: #313131;
}

.panel-default > .panel-heading .panel-title > i {
    display: none;
}

.panel-default > .panel-heading .more {
    position: absolute;
    top: 13px;
    right: 0;
    display: block;
    color: #919191;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.panel-default > .panel-heading .more:hover {
    color: #616161;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.panel-default > .panel-heading .panel-bar {
    position: absolute;
    top: 7px;
    right: 0;
    display: block;
}

.panel-default > .panel-footer {
    padding: 15px 0;
    background: none;
}

.panel-default > .panel-body {
    position: relative;
}

.panel-primary > .panel-heading {
    background-color: #46c37b;
    color: #fff;
}

.panel-primary > .panel-body {
    background: #fafafa;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.panel-gray {
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

.panel-gray > .panel-heading {
    background-color: #f5f5f5;
    color: #919191;
}

.panel-gray > .panel-body {
    color: #919191;
    background: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.panel-page {
    padding: 45px 50px 50px;
    min-height: 500px;
    margin-top: 30px;
}

@media (max-width: 767px) {
    .panel-page {
        padding: 15px;
        min-height: 300px;
    }
}

.panel-page .panel-heading {
    background: transparent;
    border-bottom: none;
    margin: 0 0 30px 0;
    padding: 0;
}

.panel-page .panel-heading h2 {
    font-size: 25px;
    margin-top: 0;
}
.media-list .media {
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 15px;
}

.media-list .media:last-child {
    border-bottom: none;
}

.media-list .media-body .bullet {
    padding: 0 3px;
    font-size: 16px;
    color: #ccc;
    height: 20px;
}

.media-list .empty-item {
    color: #999;
    text-align: left;
    margin-left: 10px
}

.media-body {
    word-break: break-all;
    padding-left: 75px;
}

.media-left {
    float: left;
    width: 60px;
    height: 60px;
}

.media-body{
    padding-bottom: 15px;
}

.media .media-object-small img {
    width: 48px;
    height: 48px;
    border-radius: 3px;
}

.media-default .media-body > .title {
    margin-bottom: 10px;
}

.media-default .media-body > .content {
    color: #919191;
}

.media.media-number-o .media-body {
    color: #919191;
}

.media.media-number,
.media.media-number-o {
    padding-bottom: 5px;
}

.media.media-number .media-left,
.media.media-number-o .media-left {
    position: relative;
    color: #919191;
}

.media.media-number .media-left .num,
.media.media-number-o .media-left .num {
    display: block;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    border: 1px solid #919191;
    border-radius: 50%;
}

.media.media-number:last-child,
.media.media-number-o:last-child {
    border-bottom: none;
}

.media-hot-comment .comments-info {
    margin-top: 5px;
    padding-left: 50px;
    font-size: 12px;
    color: #c1c1c1;
    min-height: 34px;
}

.media-hot-comment .comments-content {
    padding: 10px;
    margin: 10px 0;
    background: #f5f5f5;
    color: #919191;
    line-height: 25px;
    border: 1px solid #f1f1f1;
}

.media-comment .media-left img,
.media-subcomment .media-left img {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.media-comment .media-body,
.media-subcomment .media-body {
    position: relative;
    padding-bottom: 15px;
}

.media-comment .reply-link,
.media-subcomment .reply-link {
    position: absolute;
    top: 28px;
    right: 10px;
    font-size: 12px;
    color: #919191;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.media-comment .reply-link:hover,
.media-subcomment .reply-link:hover {
    color: #46c37b;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.media-comment .title,
.media-subcomment .title {
    color: #919191;
    margin-bottom: 5px;
}

.media-comment .title a,
.media-subcomment .title a {
    margin-right: 5px;
}

.media-comment .title .date,
.media-subcomment .title .date {
    margin-left: 5px;
}
.media-comment .comment-sns i,
.media-subcomment .comment-sns i {
    margin-right: 5px;
}
.media-default .date a:hover{
    color: #36d38c;
}
.media-comment .comment-sns a,
.media-subcomment .comment-sns a {
    color: #919191;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-right: 10px;
}

.media-comment .comment-sns a:hover,
.media-subcomment .comment-sns a:hover {
    color: #46c37b;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.media-comment .media-body {
    border-bottom: 1px solid #f5f5f5;
}
.subcomments {
    margin-left: 20px;
    padding-left: 10px;
    background-color: #f5f5f5;
}

.media-evaluate .media-body {
    padding-bottom: 15px;
    border-bottom: 1px solid #f5f5f5;
}

.media-evaluate .title {
    color: #919191;
    margin-bottom: 5px;
}

.media-evaluate .title a {
    margin-right: 5px;
}

.media-evaluate .title .date {
    margin-left: 5px;
}
.score {
    margin-bottom: 10px;
}
.media-evaluate .actions {
    margin-top: 10px;
}

.media-evaluate .actions a {
    color: #46c37b;
}

.media-evaluate .actions a:hover, a:focus {
    color: #2e8e57
}
.short-content{
    color: #333;
    font-family:"Microsoft YaHei";
}

.media-evaluate .actions .show-full-btn,
.media-evaluate .actions .show-short-btn {
    visibility: hidden;
}

.media-evaluate:hover .actions .show-full-btn,
.media-evaluate:hover .actions .show-short-btn {
    visibility: visible;
}

.media-group-list {
    margin-top: -20px;
}

.media-group {
    margin-top: 20px;
}

.media-group:first-child {
    margin-top: 20px;
}

.media-group .title {
    height: 20px;
    overflow: hidden;
    margin: 5px 0;
}

.media-group .metas span {
    color: #c1c1c1;
}

.media-group .metas span {
    margin-right: 10px;
}

.media-group .metas i {
    margin-right: 5px;
    font-size: 14px;
}

.media-dynamic:last-child .media-body {
    border: none;
}

.media-dynamic .media-body {
    width: 1000px;
    position: relative;
    padding-right: 80px;
    padding-bottom: 8px;
}

@media (max-width: 767px) {
    .media-dynamic .media-body {
        padding-right: 0;
    }
}

.media-dynamic .media-body .title {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    font-size: 12px;
}

.media-dynamic .media-body .content {
    height: 20px;
    overflow: hidden;
    display: block;
    color: #919191;
}

.media-dynamic .date {
    position: absolute;
    right: 0px;
    top: 9px;
    color: #c1c1c1;
}

@media (max-width: 767px) {
    .media-dynamic .date {
        display: none;
    }
}

.media-search .reply {
    background-color: #f5f5f5;
    color: #919191;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.media-search .title {
    font-size: 16px;
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    .media-search .title {
        font-size: 14px;
    }
}
.panel-default > .panel-heading {
    position: relative;
    font-size: 16px;
    padding: 15px 0;
    background: #fff;
    border-bottom: 1px solid #f5f5f5;
}
.panel-default > .panel-heading .panel-title {
    color: #313131;
}
.panel-default > .panel-body {
    position: relative;
    padding-top: 15px;
}
.notice .media-default {
    border-bottom: 1px solid #f5f5f5;
}

.media-default p {
    color: #666;
}
.media-default .date {
    line-height: 40px;
}
.media-default .date span {
    float: left;
    color: #c1c1c1;
}
.media-default .date a {
    float: right;
    color: #c1c1c1;
}
.panel-default > .panel-heading .panel-title {
    color: #313131;
}

.js-user-card {
    display: inline-block;
}
.avatar-md {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 60px !important;
    height: 60px !important;
}
.media-default p {
    color: #666;
    font-family: 'microsoft yahei';
}

.user-avatar-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.user-avatar-list li {
    float: left;
    width: 20%;
    margin-bottom: 10px;
    text-align: center;
}
.avatar-sm {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 40px !important;
    height: 40px !important;
}

.ellipsis, .text-overflow {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.media.media-number, .media.media-number-o {
   line-height: 35px;
}

.teacher-info{font-size: 12px;color: #919191}

/*用户信息卡片*/
.js-user-card {
    display: inline-block;
}
.es-card {
    width: 330px;
    max-width: 330px;
    z-index: 999;
}
.es-card .popover-content {
    padding: 0;
}
.es-card .card-header {
    position: relative;
    padding: 15px;
    min-height: 95px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: #f5f5f5;
}
.es-card .media {
    padding-right: 70px;
}
.es-card .media-left {
    position: relative;
}
.es-card .avatar-md {
    border: 2px solid #fff;
}
.es-card .icon-user-status {
    position: absolute;
    bottom: 0;
    right: 5px;
}
.es-card .content {
    font-size: 12px;
    margin-top: 6px;
    color: #919191;
}
.es-card .metas {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 70px;
    text-align: right;
}
.es-card .metas .btn {
    margin-bottom: 12px;
}
.es-card .metas .btn:last-child {
    margin-bottom: 0;
}
.es-card .card-body {
    line-height: 24px;
    padding: 20px;
    color: #919191;
}
.es-card .card-footer {
    border-top: 1px solid #f5f5f5;
}
.es-card .card-footer span {
    float: left;
    width: 33.33%;
    margin: 5px auto;
    text-align: center;
    line-height: 24px;
    border-right: 1px solid #f5f5f5;
}
.es-card .card-footer span:last-child {
    border: none;
}
.link-dark {
    color: #313131 !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.link-dark:hover {
    color: #46c37b !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.color-gray {
    color: #919191 !important;
}
/*弹出层*/

.popover.top {
    margin-top: -10px;
}
.popover.top > .arrow {
    left: 50%;
    margin-left: -11px;
    border-bottom-width: 0;
    border-top-color: #999999;
    border-top-color: rgba(0, 0, 0, 0.25);
    bottom: -11px;
}
.popover > .arrow {
    border-width: 11px;
}
.fade.in {
    opacity: 1;
}
.popover .arrow:after {
    content: " ";
    bottom: 1px;
    margin-left: -10px;
    border-bottom-width: 0;
    border-top-color: #ffffff;
}
.popover .arrow {
    left: 50%;
    margin-left: -11px;
    border-bottom-width: 0;
    border-top-color: #999999;
    border-top-color: rgba(0, 0, 0, 0.25);
    bottom: -11px;
}
.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    max-width: 256px;
    padding: 1px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: left;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    white-space: normal;
    min-width: 200px;
    border-color: #e1e1e1;
}
.popover .arrow, .popover .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.popover .arrow:after {
    border-width: 10px;
    content: "";
}
.popover .arrow:after {
    content: " ";
    bottom: 1px;
    margin-left: -10px;
    border-bottom-width: 0;
    border-top-color: #ffffff;
}
.popover-title {
    margin: 0;
    padding: 8px 14px;
    font-size: 14px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 1px 1px 0 0;
}
.popover .popover-content {
    color: #616161;
}
.popover-content {
    padding: 9px 14px;
}
/*分享*/
.es-share.top{
    top: auto;
    bottom: 100%;
    left: 0;
    margin-left: -60px;
    margin-bottom: 10px;
}
.es-share{
    min-width: 145px !important;
    padding: 3px 10px !important;
    background-color:rgba(0,0,0,0);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    line-height: 30px !important;
    z-index: -1;
    top: auto;
    bottom: 100%;
    left:55px;
    opacity: 0;
}

.es-share a {
    margin: 3px 6px 2px 7px !important;
    color: #fff !important;
}
.es-share i {
    font-size: 20px !important;
}
.share-weixin{
    position: absolute;
    left: 50px;
    opacity: 0;
}

.es-share .es-icon-weixin{
    color: #ff8a0c;
}
.share-weibo{
    position: absolute;
    left: 50px;
}
.es-share .es-icon-weibo{
    color: #e83d2c;
}

.share-qq{
    position: absolute;
    left: 50px;
    opacity: 0;
}

.es-share .es-icon-qq{
    color: #2db7f5;

}
.es-share a:hover i{
    color: #36d38c;
}
/*授课老师*/
.teacer-title{
    float: left;
}
.teacer-btn span{
    cursor: pointer;
    display: none;
    width: 30px;
    line-height: 30px;
    font-size: 30px;
    text-align: center;
    border-radius: 50%;
    color: #666;
    position: absolute;
    top:50%;
    margin-top: -9px;
    background: #fff;
}
.teacer-btn .teacher-left{
    left:0;
}
.teacer-btn .teacher-right{
    right:0;
}
.teacer-btn span:hover{
    color: #36d38c;

}

.teacer-module{
    width: 240px;
    height: 176px;
    position: relative;
    overflow: hidden;
}
.teacher-list{
    width: 200%;
    height: 176px;
    position: absolute;
    left: 0;
}
.teacher-list li{
    float: left;
    width: 240px;
}
.media-head {
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 10px;
}
.media-head .teacher-head{
    float: left;
    display: inline-block;
    padding-right: 20px;
}
.media-head .teacher-head img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.media-head .title{
    float: left;
}
.media-head .title .teacer{
    display: block;
    line-height: 25px;
    color: #000;
    font-size: 14px;
    padding-top: 4px;
}
.jobTitle{
    color: #b0b0b0;
    line-height: 25px;
}

.media-content{
    padding: 10px 0 15px;
}
.media-content p{
    text-indent: 1em;
    line-height: 20px;
    font-size: 12px;
}
.over-mask{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: 0.5;
    filter: Alpha(opacity=50);
    background-color: #000;
}

#xs-pop-login-form {
    position: fixed;
    width: 400px;
    height: 432px;
    z-index: 1000;
}

iframe{
    display: none;
}
/*详情*/
.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal-dialog{
    position: relative;
    width: 600px;
    margin: 10% auto;
}
.modal-content {
    position: relative;
    background-color: #ffffff;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
    outline: 0;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16px;
}
.notice-more h4 {
    font-size: 16px;
    word-break: break-all;
    color: #313131;
    font-weight: normal;
}
.modal-header .close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
    background: #fff;
    border: none;
}
.modal-header .close {
    margin-top: -2px;
}

.close:hover, .close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.modal-body {
    position: relative;
    padding:15px 15px 20px;
    overflow: hidden;
}
.notice-more p {
    text-indent: 2rem;
    color: #333;
    font-size: 14px;
    line-height: 1.42857143;
}
.modal-backdrop {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000000;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
