/*顶部导航*/
.container {
    width: 1200px;
    margin: 0 auto;
}

.site-topbar {
    position: relative;
    height: 40px;
    font-size: 12px;
    color: #b0b0b0;
    background: #333;
    z-index: 100;
}

.site-topbar a {
    padding: 0 5px;
    font-size: 12px;
    text-align: center;
    color: #b0b0b0
}

.site-topbar a:hover {
    color: #fff
}

.site-topbar .sep {
    margin: 0 .5em;
    color: #424242
}

.site-topbar .topbar-nav {
    float: left;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    _zoom: 1
}

.site-topbar .topbar-study, .site-topbar .topbar-info {
    position: relative;
    float: right;
    _display: inline;
    height: 40px;

}

.site-topbar .topbar-study a{
    width: 70px;
    padding: 0 5px;
    text-align: center;
    line-height: 40px;
    z-index: 32;
    display: block;
    height: 40px;
    color: #fff;
    background: #424242;
}
.site-topbar .topbar-study a:hover{
    background: #fff;
    color: #36d38c;
}

.site-topbar .topbar-cart, .site-topbar .topbar-info {
    position: relative;
    float: right;
    _display: inline;
    height: 40px
}
.site-topbar .topbar-cart-filled .cart-mini {
    color: #fff;
    background: #ff6700
}

.site-topbar .topbar-cart{
    margin-left: 10px;
}
.site-topbar .topbar-cart-active .cart-mini {
    color: #fff;
}

.site-topbar .cart-menu .loading {
    margin: 5px 20px 20px;
    text-align: center;
}

.loading {
    padding: 20px 0;
}

.loader, .loader:before, .loader:after {
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation-name: loader;
    animation-name: loader;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate-reverse;
    animation-direction: alternate-reverse;
}

.loader {
    position: relative;
    margin: 0 auto;
    line-height: 50px;
    overflow: visible;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}

.site-topbar .topbar-info {
    line-height: 40px
}

.site-topbar .topbar-info .link, .site-topbar .topbar-info .user, .site-topbar .topbar-info .sep {
    float: left
}

.site-topbar .topbar-info .link {
    padding: 0 5px;
    text-align: center
}

.site-topbar .topbar-info .link-order {
    width: 70px
}

.site-topbar .topbar-info .sep {
    margin: 0
}

.site-topbar .cart-mini {
    position: relative;
    z-index: 32;
    display: block;
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background: #424242;
}

.site-topbar .cart-mini i {
    margin-right: 4px;
    font-size: 20px;
    line-height: 20px;
    vertical-align: -4px
}

.site-topbar .cart-mini-num {
    margin-left: -4px;
    font-size: 12px;
}

.site-topbar .cart-menu {
    height: 0;
    position: absolute;
    right: 0;
    right: -1px \9;
    top: 40px;
    width: 316px;
    color: #424242;
    background: #fff;
    border: 1px solid #e0e0e0 \9;
    border-top: 0 \9;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    transition: 0.2s;
    overflow: hidden;
}

.site-topbar .cart-menu .loading {
    margin: 5px 20px 20px;
    text-align: center
}

.site-topbar .cart-menu .msg {
    margin: 5px 20px 20px;
    text-align: center
}

.site-topbar .cart-list {
    *position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none
}

.site-topbar .cart-list li {
    position: relative;
    height: 80px;
    padding: 0 20px
}

.site-topbar .cart-list li:first-child .cart-item, .site-topbar .cart-list li.first .cart-item {
    border-top: 0
}

.site-topbar .cart-item {
    position: relative;
    height: 60px;
    padding: 10px 0;
    border-top: 1px solid #e0e0e0;
    line-height: 20px
}

.site-topbar .cart-item:hover .btn-del {
    display: block
}

.site-topbar .cart-item .thumb {
    float: left;
    margin-right: 10px
}

.site-topbar .cart-item .thumb img {
    width: 60px;
    height: 60px
}

.site-topbar .cart-item .name {
    float: left;
    _display: inline;
    width: 95px;
    height: 40px;
    margin: 10px 0;
    color: #424242
}

.site-topbar .cart-item a.name:hover {
    color: #ff6700
}

.site-topbar .cart-item .price {
    float: right;
    _display: inline;
    margin: 10px 20px 0 5px
}

.site-topbar .cart-item .btn-del {
    display: none;
    _display: block;
    position: absolute;
    top: 21px;
    right: 0
}

.site-topbar .cart-item .btn-del:hover {
    color: #424242
}

.site-topbar .cart-item .btn-del i {
    font-size: 16px;
    line-height: 16px
}

.site-topbar .cart-total {
    padding: 15px 20px;
    background: #fafafa
}

.site-topbar .cart-total em {
    font-style: normal
}

.site-topbar .cart-total .total {
    float: left;
    width: 135px;
    color: #757575
}

.site-topbar .cart-total .price {
    display: block;
    font-weight: 400;
    color: #ff6700
}

.site-topbar .cart-total .price em {
    font-size: 24px;
    line-height: 1
}

.site-topbar .cart-total .btn-cart {
    float: right;
    width: 130px;
    padding: 0;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    color: #f5f5f5;
    background: #ff6700
}

.site-topbar .user {
    position: relative;
    width: 120px;
    padding: 0;
    white-space: nowrap
}

.site-topbar .user-name {
    position: relative;
    z-index: 5;
    display: block;
    width: 80px;
    height: 40px;
    padding-right: 35px;
    text-align: right;
}

.site-topbar .user-name .name {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    width: auto;
    _width: 75px;
    max-width: 75px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    _zoom: 1;
    vertical-align: text-bottom
}

.site-topbar .user-name i {
    font-size: 20px;
    line-height: 24px;
    vertical-align: 9px;
    position: absolute;
    top: 7px;
    right: 10px;
}

.site-topbar .user-menu {
    display: none;
    position: absolute;
    left: 0;
    left: -1px \9;
    top: 40px;
    z-index: 3;
    width: 120px;
    margin: 0;
    padding: 7px 0;
    border: 1px solid #e0e0e0 \9;
    border-top: 0 \9;
    list-style-type: none;
    background: #fff;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15)
}

.site-topbar .user-menu a {
    display: block;
    padding: 3px 30px;
    line-height: 2
}
.site-topbar .user-menu a:hover{
    color: #ff6700;
}
.site-topbar .user-active .user-menu a:hover {
    background-color: #f5f5f5;
}

.site-topbar .user-active a {
    color: #424242
}

.site-topbar .user-active a:hover {
    color: #ff6700
}

.site-topbar .user-active .user-name {
    background: #fff
}

.site-topbar .user-active .user-menu a {
    -webkit-transition: all .2s;
    transition: all .2s
}

.site-topbar .user-active .user-menu a:hover {
    background-color: #f5f5f5
}

.site-topbar .message{
    position: relative;
    float: right;
    _display: inline;
    height: 40px;

}
.site-topbar .message a{
    display: inline-block;
    width: 30px;
    padding: 0 5px;
    text-align: center;
    line-height: 40px;
}
.site-topbar .message .msg_icon {
    position: absolute;
    padding: 0px 3px;
    height: 12px;
    left: 20px;
    top: 4px;
    line-height: 12px;
    background: #c9394a;
    color: #fff;
    font-style: normal;
    font-size: 10px;
}
.topbar-order{
    float: right;
    _display: inline;
    height: 40px;
    position: relative;
}
.site-topbar .topbar-order a{
    display: inline-block;
    width: 70px;
    padding: 0 5px;
    text-align: center;
    line-height: 40px;
}
/*广告*/
.site-adv {
    height: 100px;
    position: relative;
    overflow: hidden;
}
.site-adv .link_topLayer{height: 100px;display: block}
.site-adv .toplayer-close {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 20px;
    top: 50%;
    margin-top: -16px;
    background: url("../images/close.png") no-repeat;
    cursor: pointer;
    z-index: 1;
}

/*横导航开始*/
.site-header {
    position: relative;
    height: 100px;
    z-index: 20;
    background: #fff;
}

.site-header .container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.site-header .header-logo {
    float: left;
    width: 100px;
    margin-top: 25px;
}

.site-header .header-logo a {
    height: 0;
    padding-top: 50px;
}

.site-header .header-logo {
    color: #fff;
}
.site-header .flash-img{
    float: left;
    width: 130px;
}
.site-header .header-nav {
    float: left;
    width: 650px
}

.site-header .header-search {
    float: right;
    width: 296px;
    margin-top: 30px
}

.site-header .logo {
    position: relative;
    display: block;
    width: 100px;
    height: 50px;
    overflow: hidden;
    _zoom: 1;
    background: url(../images/logo.png) no-repeat 50% 50%
}

.site-header .nav-list-top {
    position: relative;
    z-index: 10;
    float: left;
    width: 650px;
    height: 88px;
    margin: 0;
    padding-top: 12px;
    list-style-type: none;
    font-size: 16px;
    box-sizing: content-box!important;
}

.site-header .nav-item {
    float: left;
    margin: 0 10px;
    text-align: center;
    box-sizing: content-box!important;
}

.site-header .nav-item a {
    -webkit-transition: 0.3s, color 0.5s;
    -moz-transition: 0.3s, color 0.5s;
    transition: 0.3s, color 0.5s;
}

.site-header .nav-item .link {
    display: block;
    padding: 25px 13px 38px;
    color: #333;
    font-size: 16px;
    box-sizing: content-box!important;
}

.site-header .nav-item .link:focus {
    outline: 0
}

.site-header .search-form {
    position: relative;
    width: 296px;
    height: 40px;
}

.site-header .search-form:hover .search-text {
    border-color: #b0b0b0
}

.site-header .search-form:hover .search-btn {
    border-color: #b0b0b0
}

.site-header .search-form:hover .search-btn:hover {
    border-color: #36d38c
}

.site-header .search-form-focus:hover .search-text {
    border-color: #36d38c
}

.site-header .search-form-focus:hover .search-btn {
    border-color: #36d38c
}

.site-header .search-form-focus .search-text {
    border-color: #36d38c
}

.site-header .search-form-focus .search-btn {
    border-color: #36d38c
}

.site-header .search-form-focus .search-btn:hover {
    background-color: #36d38c;
    color: #fff
}

.site-header .search-form .keyword-list {
    position: absolute;
    left: 0;
    top: 40px;
    _top: 51px;
    z-index: 20;
    width: 243px;
    border: 1px solid #36d38c;
    border-top: 0;
    background: #fff;
}
.hide {
    display: none !important;
}
.site-header .search-form .keyword-list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.site-header .search-form .keyword-list li a {
    position: relative;
    display: block;
    padding: 6px 15px;
    font-size: 12px;
    color: #424242;
}

.search-form .keyword-list li a:hover {
    background: #36d38c;
    color: #fff;
}

.site-header .search-text {
    position: absolute;
    top: 0;
    right: 51px;
    z-index: 1;
    width: 245px;
    height: 40px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    line-height: 48px;
    outline: 0;
    -webkit-transition: all .2s;
    transition: all .2s
}

.site-header .search-btn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    width: 52px;
    height: 40px;
    border: 1px solid #e0e0e0;
    font-size: 24px;
    line-height: 24px;
    background: #fff;
    color: #616161;
    outline: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
    cursor: pointer;
}

.site-header .search-btn:hover {
    background: #36d38c;
    color: #fff
}

.site-header .search-hot-words {
    position: absolute;
    top: 12px;
    right: 62px;
    z-index: 2;
    text-align: right;
}

.site-header .search-hot-words a {
    display: inline-block;
    margin-left: 5px;
    padding: 0 5px;
    font-size: 12px;
    background: #eee;
    color: #757575;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.site-header .search-hot-words a:hover {
    background: #36d38c;
    color: #fff;
}

#nav_line {
    height: 2px;
    background: #36d38c;
    position: absolute;
    bottom: 20px;
    left: 10px;
    opacity: 0
}

.site-header .nav-item .link:hover {
    color: #36d38c
}

/*分级导航*/
.breadcrumb {
    height: 40px;
    line-height: 40px;
    background: #f5f5f5;
    color: #616161;
}
.breadcrumb .container{
    position: relative;
}
.breadcrumb a {
    font-size: 14px;
    color: #757575;
}

.breadcrumb a:hover {
    color: #424242;
}

.breadcrumb .sep {
    margin: 0 0.5em;
    color: #b0b0b0;
}

/*热门导航*/
.hot_nav {
    float: right;
    height: 58px;
}

.hot_nav ul {
    height: 58px;
    position: relative;
}

.hot_nav .hightbg .moving_bg {
    box-sizing: border-box;
    position: absolute;
    width: 56px;
    height: 0;
    z-index: 190;
    left: 10px;
    bottom: 10px;
    border-top: 2px solid #36d38c;
    padding: 0;
}

.hot_nav .hightbg .tab_item {
    float: left;
    margin: 0 10px;
    text-align: center;
    font-size: 14px;
    z-index: 200;
    position: relative;
    cursor: pointer;
    color: rgb(68, 68, 68);
    height: 58px;
    line-height: 58px;
}

.hot_nav .hightbg .active {
    color: #36d38c
}
/*二级导航*/
.site-header .header-nav-menu {
    width: 100%;
    height: 0;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 24;
    background: #fff;
    overflow: hidden;
    _zoom: 1;
}
.site-header .header-nav-menu-active {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0 \9;
    -webkit-box-shadow: 0 3px 4px rgba(0,0,0,0.18);
    box-shadow: 0 3px 4px rgba(0,0,0,0.18);
    -webkit-transition: -webkit-box-shadow .2s;
    transition: box-shadow .2s;
}
.site-header .header-nav-menu .children-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 12px;
}
.site-header .header-nav-menu .children-list li {
    position: relative;
    float: left;
    width: 176px;
    padding: 25px 12px 0;
    text-align: center;
}
.site-header .header-nav-menu .children-list li:before {
    position: absolute;
    left: 0;
    top: 35px;
    z-index: 1;
    width: 1px;
    height: 100px;
    content: "";
    background-color: #e0e0e0;
}
.site-header .header-nav-menu .children-list .first:before{
    display: none;
}
.site-header .header-nav-menu .figure-thumb {
    width: 155px;
    height: 105px;
    margin: 0 auto 16px;
    text-align: center;
}
.site-header .header-nav-menu .figure-thumb a {
    display: block;
    width: 155px;
    height: 105px;
    overflow: hidden;
}
.site-header .header-nav-menu .figure-thumb img {
    width: 155px;
    height: 105px;
    -webkit-transition: -webkit-transform 1s ease 0s;
    transition: transform 1s ease 0s;
    -webkit-transform-origin: center;
    transform-origin: center;
}
.site-header .header-nav-menu .figure-thumb a:hover img{
    transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
}
.site-header .header-nav-menu .title {
    width: 100%;
    text-align: center;
    line-height: 20px;
    color: #333;
}
.site-header .header-nav-menu .title a:hover{
    color: #36d38c;
}
.site-header .header-nav-menu .price {
    width: 100%;
    text-align: center;
    line-height: 35px;
    color: #ff6700;
}

/*底部链接*/
.es-footer {
    width: 100%;
    position: relative;
    background: #f5f5f5;

}

.es-footer .footer-link {
    background: #fff;
    padding: 20px 0;
    border-bottom: 1px solid #111;
}

.footer-main {
    width: 1200px;
    margin: 0 auto
}

.footer-main .link-item {
    width:270px;
    float: left;
    padding-left:45px;
    position: relative;
    box-sizing:content-box!important;
}

.footer-main .link-item img {
    width: 33px;
    height: 33px;
    position: absolute;
    left: 0;
    top:15px
}

.footer-main ul {
    padding: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.footer-main ul li {
    margin-bottom: 15px;
    width:95px;
    display: inline-block;
}

.footer-main a {
    color: #666;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 12px;
}

.footer-main a:hover {
    color: #36d38c;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.footer-main h3 {
    font-weight: bolder;
    font-size: 16px;
    display: inline-block;
    width: 206px;
    margin: 20px 0;
    color: #000;
}

.footer-main .contact-item {
    float: right;
    width: 250px;
    height: 120px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
    margin-top: 20px;
}

.footer-main .contact-item .phone {
    font-size: 26px;
    line-height: 40px;
    color: #ff6700;
    margin: 0;
}

.footer-main .contact-item p {
    margin: 0 0 16px;
    font-size: 12px;
    color: #616161;
}

.footer-main .contact-item .iphone-btn {
    width: 148px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    border: 1px solid #ff6700;
    color: #ff6700;
    margin: 0 auto
}
.footer-main .contact-item .iphone-btn i{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../images/phone.png") no-repeat;
    background-position: -2px 0;
    position: relative;
    top:4px
}

.footer-main .contact-item .iphone-btn:hover i{
    background-position: -22px 0;
}

.footer-main .contact-item a:hover {
    background: #ff6700;
    color: #fff;
}

.footer-main .contact-item a:hover span{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #fff;
}

.es-footer .copyright {
    background: #212121;
    border-top: 1px solid #444;
    text-align: center;
    padding: 5px 0;
    line-height: 25px;
    color: #c1c1c1;
}

.es-footer .copyright a {
    color: #c1c1c1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.es-footer .copyright a:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #fff;
}

/*右侧固定栏*/
.elevator {
    position: fixed;
    padding: 0 15px;
    bottom: 120px;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: -2px 2px 5px 3px #f3f3f3;
}

.elevator a {
    display: block;
    width: 25px;
    height: 25px;
    padding: 12px 0;
    color: #787d82;
    text-align: center;
    border-bottom: 1px solid #edf1f2;
}

.elevator a i {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url("../images/right.png") no-repeat;
}

.elevator a .feedback{
    background-position: -5px -2px;
}
.elevator a:hover .feedback{
    background-position: -45px -2px;
}
.elevator a .app-down{
    background-position: -5px -30px;
}
.elevator a:hover .app-down{
    background-position: -45px -30px;
}
.elevator a .weixin{
    background-position: -5px -67px;
}
.elevator a:hover .weixin{
    background-position: -45px -67px;
}
.elevator a .gotop{
    background-position: -5px -102px;
}
.elevator a:hover .gotop{
    background-position: -45px -102px;
}


.elevator .elevator-app-box {
    position: absolute;
    width: 172px;
    height: 194px;
    bottom: -10px;
    right: 52px;
    -webkit-transition: opacity 0.25s, transform .3s;
    -moz-transition: opacity 0.25s, transform .3s;
    transition: opacity 0.25s, transform .3s;
    opacity: 0;
    filter: alpha(opacity=0);
    max-width: 0;
    -webkit-transform: scale(0.01);
    -ms-transform: scale(0.01);
    transform: scale(0.01);
    -webkit-transform-origin: 100% 95%;
    -ms-transform-origin: 100% 95%;
    transform-origin: 100% 95%;
    background: url("../images/elevator.png") no-repeat 0 -220px;
}

.elevator .elevator-app:hover .elevator-app-box {
    display: block;
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    max-width: none;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.elevator .elevator-weixin-box {
    position: absolute;
    width: 172px;
    height: 212px;
    bottom: -10px;
    right: 52px;
    -webkit-transition: opacity 0.25s, transform .3s;
    -moz-transition: opacity 0.25s, transform .3s;
    transition: opacity 0.25s, transform .3s;
    opacity: 0;
    filter: alpha(opacity=0);
    max-width: 0;
    -webkit-transform: scale(0.01);
    -ms-transform: scale(0.01);
    transform: scale(0.01);
    -webkit-transform-origin: 100% 95%;
    -ms-transform-origin: 100% 95%;
    transform-origin: 100% 95%;
    background: url("../images/elevator.png") no-repeat 0 0;
}
.elevator .elevator-weixin:hover .elevator-weixin-box {
    display: block;
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    max-width: none;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.elevator .elevator-top {
    border-bottom: none;
    display: none;
}