body {
    font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

/*顶部导航*/
.container {
    width: 1200px;
    margin: 0 auto;
}

.site-topbar {
    position: relative;
    height: 40px;
    font-size: 12px;
    color: #b0b0b0;
    background: #333;
}

.site-topbar a {
    color: #b0b0b0
}

.site-topbar a:hover {
    color: #fff
}

.site-topbar .sep {
    margin: 0 .5em;
    color: #424242
}

.site-topbar .topbar-nav {
    float: left;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    _zoom: 1
}

.site-topbar .topbar-cart, .site-topbar .topbar-info {
    position: relative;
    float: right;
    _display: inline;
    height: 40px
}
.site-topbar .topbar-cart-filled .cart-mini {
    color: #fff;
    background: #ff6700
}

.site-topbar .topbar-cart{
    margin-left: 10px;
}
.site-topbar .topbar-cart-active .cart-mini {
    color: #fff;
}

.site-topbar .cart-menu .loading {
    margin: 5px 20px 20px;
    text-align: center;
}

.loading {
    padding: 20px 0;
}

.loader, .loader:before, .loader:after {
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation-name: loader;
    animation-name: loader;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate-reverse;
    animation-direction: alternate-reverse;
}

.loader {
    position: relative;
    margin: 0 auto;
    line-height: 50px;
    overflow: visible;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}

.site-topbar .topbar-info {
    line-height: 40px
}

.site-topbar .topbar-info .link, .site-topbar .topbar-info .user, .site-topbar .topbar-info .sep {
    float: left
}

.site-topbar .topbar-info .link {
    padding: 0 5px;
    text-align: center
}

.site-topbar .topbar-info .link-order {
    width: 70px
}

.site-topbar .topbar-info .sep {
    margin: 0
}

.site-topbar .cart-mini {
    position: relative;
    z-index: 32;
    display: block;
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background: #424242;
}

.site-topbar .cart-mini i {
    margin-right: 4px;
    font-size: 20px;
    line-height: 20px;
    vertical-align: -4px
}

.site-topbar .cart-mini-num {
    margin-left: -4px;
    font-size: 12px;
}

.site-topbar .cart-menu {
    height: 0;
    position: absolute;
    right: 0;
    right: -1px \9;
    top: 40px;
    width: 316px;
    color: #424242;
    background: #fff;
    border: 1px solid #e0e0e0 \9;
    border-top: 0 \9;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    transition: 0.2s;
    overflow: hidden;
}

.site-topbar .cart-menu .loading {
    margin: 5px 20px 20px;
    text-align: center
}

.site-topbar .cart-menu .msg {
    margin: 5px 20px 20px;
    text-align: center
}

.site-topbar .cart-list {
    *position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none
}

.site-topbar .cart-list li {
    position: relative;
    height: 80px;
    padding: 0 20px
}

.site-topbar .cart-list li:first-child .cart-item, .site-topbar .cart-list li.first .cart-item {
    border-top: 0
}

.site-topbar .cart-item {
    position: relative;
    height: 60px;
    padding: 10px 0;
    border-top: 1px solid #e0e0e0;
    line-height: 20px
}

.site-topbar .cart-item:hover .btn-del {
    display: block
}

.site-topbar .cart-item .thumb {
    float: left;
    margin-right: 10px
}

.site-topbar .cart-item .thumb img {
    width: 60px;
    height: 60px
}

.site-topbar .cart-item .name {
    float: left;
    _display: inline;
    width: 95px;
    height: 40px;
    margin: 10px 0;
    color: #424242
}

.site-topbar .cart-item a.name:hover {
    color: #ff6700
}

.site-topbar .cart-item .price {
    float: right;
    _display: inline;
    margin: 10px 20px 0 5px
}

.site-topbar .cart-item .btn-del {
    display: none;
    _display: block;
    position: absolute;
    top: 21px;
    right: 0
}

.site-topbar .cart-item .btn-del:hover {
    color: #424242
}

.site-topbar .cart-item .btn-del i {
    font-size: 16px;
    line-height: 16px
}

.site-topbar .cart-total {
    padding: 15px 20px;
    background: #fafafa
}

.site-topbar .cart-total em {
    font-style: normal
}

.site-topbar .cart-total .total {
    float: left;
    width: 135px;
    color: #757575
}

.site-topbar .cart-total .price {
    display: block;
    font-weight: 400;
    color: #ff6700
}

.site-topbar .cart-total .price em {
    font-size: 24px;
    line-height: 1
}

.site-topbar .cart-total .btn-cart {
    float: right;
    width: 130px;
    padding: 0;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    color: #f5f5f5;
    background: #ff6700
}

.site-topbar .user {
    position: relative;
    width: 110px;
    padding: 0;
    white-space: nowrap
}

.site-topbar .user-name {
    position: relative;
    z-index: 5;
    display: block;
    width: 120px;
    height: 40px;
    text-align: center
}

.site-topbar .user-name .name {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    width: auto;
    _width: 75px;
    max-width: 75px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    _zoom: 1;
    vertical-align: text-bottom
}

.site-topbar .user-name i {
    font-size: 24px;
    line-height: 24px;
    vertical-align: 9px
}

.site-topbar .user-menu {
    display: none;
    position: absolute;
    left: 0;
    left: -1px \9;
    top: 40px;
    z-index: 3;
    width: 120px;
    margin: 0;
    padding: 7px 0;
    border: 1px solid #e0e0e0 \9;
    border-top: 0 \9;
    list-style-type: none;
    background: #fff;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15)
}

.site-topbar .user-menu a {
    display: block;
    padding: 3px 30px;
    line-height: 2
}

.site-topbar .user-active a {
    color: #424242
}

.site-topbar .user-active a:hover {
    color: #ff6700
}

.site-topbar .user-active .user-name {
    background: #fff
}

.site-topbar .user-active .user-menu a {
    -webkit-transition: all .2s;
    transition: all .2s
}

.site-topbar .user-active .user-menu a:hover {
    background-color: #f5f5f5
}
/*广告*/
.site-adv {
    height: 100px;
    position: relative;
    overflow: hidden;
}
.site-adv .link_topLayer{height: 100px;display: block}
.site-adv .toplayer-close {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 20px;
    top: 50%;
    margin-top: -16px;
    background: url("../images/close.png") no-repeat;
    cursor: pointer;
    z-index: 1;
}

/*横导航开始*/
.site-header {
    position: relative;
    height: 100px;
    z-index: 20;
}

.site-header .container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.site-header .header-logo {
    float: left;
    width: 100px;
    margin-top: 25px;
}

.site-header .header-logo a {
    height: 0;
    padding-top: 50px;
}

.site-header .header-logo {
    color: #fff;
}
.site-header .flash-img{
    float: left;
    width: 120px;
    padding-right: 10px;
    height: 100px;
}
.site-header .header-nav {
    float: left;
    width: 650px
}

.site-header .header-search {
    float: right;
    width: 296px;
    margin-top: 30px
}

.site-header .logo {
    position: relative;
    display: block;
    width: 100px;
    height: 50px;
    overflow: hidden;
    _zoom: 1;
    background: url(../images/logo.png) no-repeat 50% 50%
}

.site-header .nav-list-top {
    position: relative;
    z-index: 10;
    float: left;
    width: 650px;
    height: 88px;
    margin: 0;
    padding-top: 12px;
    list-style-type: none;
    font-size: 16px
}

.site-header .nav-item {
    float: left;
    margin: 0 10px;
    text-align: center;
}

.site-header .nav-item a {
    -webkit-transition: 0.3s, color 0.5s;
    -moz-transition: 0.3s, color 0.5s;
    transition: 0.3s, color 0.5s;
}

.site-header .nav-item .link {
    display: block;
    padding: 25px 13px 38px;
    color: #333;
    font-size: 16px;
}

.site-header .nav-item .link:focus {
    outline: 0
}

.site-header .search-form {
    position: relative;
    width: 296px;
    height: 40px;
}

.site-header .search-form:hover .search-text {
    border-color: #b0b0b0
}

.site-header .search-form:hover .search-btn {
    border-color: #b0b0b0
}

.site-header .search-form:hover .search-btn:hover {
    border-color: #36d38c
}

.site-header .search-form-focus:hover .search-text {
    border-color: #36d38c
}

.site-header .search-form-focus:hover .search-btn {
    border-color: #36d38c
}

.site-header .search-form-focus .search-text {
    border-color: #36d38c
}

.site-header .search-form-focus .search-btn {
    border-color: #36d38c
}

.site-header .search-form-focus .search-btn:hover {
    background-color: #36d38c;
    color: #fff
}

.site-header .search-form .keyword-list {
    position: absolute;
    left: 0;
    top: 40px;
    _top: 51px;
    z-index: 20;
    width: 243px;
    border: 1px solid #36d38c;
    border-top: 0;
    background: #fff;
}

.site-header .search-form .keyword-list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.site-header .search-form .keyword-list li a {
    position: relative;
    display: block;
    padding: 6px 15px;
    font-size: 12px;
    color: #424242;
}

.search-form .keyword-list li a:hover {
    background: #36d38c;
    color: #fff;
}

.site-header .search-text {
    position: absolute;
    top: 0;
    right: 51px;
    z-index: 1;
    width: 245px;
    height: 40px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    line-height: 48px;
    outline: 0;
    -webkit-transition: all .2s;
    transition: all .2s
}

.site-header .search-btn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    width: 52px;
    height: 40px;
    border: 1px solid #e0e0e0;
    font-size: 24px;
    line-height: 24px;
    background: #fff;
    color: #616161;
    outline: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
    cursor: pointer;
}

.site-header .search-btn:hover {
    background: #36d38c;
    color: #fff
}

.site-header .search-hot-words {
    position: absolute;
    top: 10px;
    right: 62px;
    z-index: 2;
    text-align: right;
}

.site-header .search-hot-words a {
    display: inline-block;
    margin-left: 5px;
    padding: 0 5px;
    font-size: 12px;
    background: #eee;
    color: #757575;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.site-header .search-hot-words a:hover {
    background: #36d38c;
    color: #fff;
}

#nav_line {
    height: 2px;
    background: #36d38c;
    position: absolute;
    bottom: 20px;
    left: 10px;
    opacity: 0
}

.site-header .nav-item .link:hover {
    color: #36d38c
}

/*热门导航*/
.hot_nav {
    float: right;
    height: 58px;
}

.hot_nav ul {
    height: 58px;
    position: relative;
}

.hot_nav .hightbg .moving_bg {
    box-sizing: border-box;
    position: absolute;
    width: 56px;
    height: 0;
    z-index: 190;
    left: 10px;
    bottom: 10px;
    border-top: 2px solid #36d38c;
    padding: 0;
}

.hot_nav .hightbg .tab_item {
    float: left;
    margin: 0 10px;
    text-align: center;
    font-size: 14px;
    z-index: 200;
    position: relative;
    cursor: pointer;
    color: rgb(68, 68, 68);
    height: 58px;
    line-height: 58px;
}

.hot_nav .hightbg .active {
    color: #36d38c
}
/*二级导航*/
.site-header .header-nav-menu {
    width: 100%;
    height: 0;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 24;
    background: #fff;
    overflow: hidden;
    _zoom: 1;
}
.site-header .header-nav-menu-active {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0 \9;
    -webkit-box-shadow: 0 3px 4px rgba(0,0,0,0.18);
    box-shadow: 0 3px 4px rgba(0,0,0,0.18);
    -webkit-transition: -webkit-box-shadow .2s;
    transition: box-shadow .2s;
}
.site-header .header-nav-menu .children-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 12px;
}
.site-header .header-nav-menu .children-list li {
    position: relative;
    float: left;
    width: 176px;
    padding: 25px 12px 0;
    text-align: center;
}
.site-header .header-nav-menu .children-list li:before {
    position: absolute;
    left: 0;
    top: 35px;
    z-index: 1;
    width: 1px;
    height: 100px;
    content: "";
    background-color: #e0e0e0;
}
.site-header .header-nav-menu .children-list .first:before{
    display: none;
}
.site-header .header-nav-menu .figure-thumb {
    width: 155px;
    height: 105px;
    margin: 0 auto 16px;
    text-align: center;
}
.site-header .header-nav-menu .figure-thumb a {
    display: block;
    width: 155px;
    height: 105px;
    overflow: hidden;
}
.site-header .header-nav-menu .figure-thumb img {
    width: 155px;
    height: 105px;
    -webkit-transition: -webkit-transform 1s ease 0s;
    transition: transform 1s ease 0s;
    -webkit-transform-origin: center;
    transform-origin: center;
}
.site-header .header-nav-menu .figure-thumb a:hover img{
    transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
}
.site-header .header-nav-menu .title {
    width: 100%;
    text-align: center;
    line-height: 20px;
    color: #333;
}
.site-header .header-nav-menu .title a:hover{
    color: #36d38c;
}
.site-header .header-nav-menu .price {
    width: 100%;
    text-align: center;
    line-height: 35px;
    color: #ff6700;
}

/*底部链接*/
.es-footer {
    width: 100%;
    position: relative;
    padding-top: 70px;
    background: #f5f5f5;

}

.es-footer .footer-link {
    background: #fff;
    padding: 55px 0;
    border-bottom: 1px solid #111;
}

.footer-main {
    width: 1200px;
    margin: 0 auto
}

.footer-main .link-item {
    width: 215px;
    float: left;
    padding: 0 10px;
}

.footer-main .link-item img {
    width: 33px;
    height: 33px;
    margin-left: 12px;
}

.footer-main ul {
    padding: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.footer-main ul li {
    margin-bottom: 20px;
}

.footer-main a {
    color: #a8a8a8;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.footer-main a:hover {
    color: #36d38c;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.footer-main h3 {
    font-weight: bolder;
    font-size: 16px;
    display: inline-block;
    width: 280px;
    margin: 25px 0;
    color: #000;
}

.footer-main .contact-item {
    float: right;
    width: 250px;
    height: 120px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
    margin-top: 60px;
}

.footer-main .contact-item .phone {
    font-size: 26px;
    line-height: 40px;
    color: #ff6700;
    margin: 0;
}

.footer-main .contact-item p {
    margin: 0 0 16px;
    font-size: 12px;
    color: #616161;
}

.footer-main .contact-item .iphone-btn {
    width: 95px;
    height: 24px;
    display: inline-block;
    border: 1px solid #ff6700;
    color: #ff6700;
    margin: 0 auto
}

.footer-main .contact-item a:hover {
    background: #ff6700;
    color: #fff;
}

.es-footer .copyright {
    background: #212121;
    border-top: 1px solid #444;
    text-align: center;
    padding: 10px 0;
    line-height: 25px;
    color: #c1c1c1;
}

.es-footer .copyright a {
    color: #c1c1c1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.es-footer .copyright a:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #fff;
}

/*右侧固定栏*/
.right_float {
    position: fixed;
    right: 0;
    bottom: 60px;
    z-index: 100;
    width: 70px;
}

.right_float li {
    margin-bottom: 2px;
    position: relative;
}

.right_float .consultr p {
    position: relative;
    top: -12px;
    left: 0;
}

.right_float .consultr a {
    width: 72px;
    height: 94px;
    background: url("../images/ion.png") no-repeat -41px -46px;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 14px;
}

.right_float .consultr a:hover {
    background-position: -121px -46px;
}

.right_float li .up {
    width: 55px;
    height: 55px;
    background: url("../images/ion.png") no-repeat -38px -186px;
    margin: 0 auto;
    overflow: hidden;
}

.right_float li .up:hover {
    background-position: -140px -186px;
}

.right_float li .up p {
    position: relative;
}

.right_float li a {
    display: block;
    width: 55px;
    height: 45px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    padding-top: 10px;
}

.right_float .scroll_top {
    width: 70px;
    height: 55px;
}

.right_float #scroll_top {
    display: none;
}

.right_float li span {
    display: block;
    width: 55px;
    height: 55px;
    background: url("../images/ion.png") no-repeat 14px -283px;
}

.right_float .consultr a span {
    display: block;
    width: 94px;
    height: 66px;
    background: url("../images/ion.png") no-repeat -30px -252px;
}

.right_float li span.weixin {
    background-position: -24px -310px;
}

.right_float li span.shouji {
    background-position: -26px -352px;
}

.right_float li span.app {
    background: url("../images/shouji.png") no-repeat 18px 13px;
}

.right_float li span.feedback {
    background-position: -25px -394px;
}

.right_float li span.go_top {
    background-position: -25px -432px;
}

.telephone_r {
    width: 180px;
    height: 110px;
    background: #fff;
    position: absolute;
    right: 75px;
    top: 0;
    display: none;
    padding: 0 10px;
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.telephone_r i {
    display: block;
    width: 18px;
    height: 30px;
    background: url("../images/ion.png") no-repeat -40px -520px;
    position: absolute;
    right: -16px;
    top: 10px
}

.telephone_r .telephone_t {
    width: 105px;
    margin: 0 auto;
    color: #616161;
    padding-left: 10px;
    font-size: 14px;
}

.telephone_r .vip {
    background: url("../images/ion.png") no-repeat -25px -486px;
}

.telephone_r .email {
    background: url("../images/ion.png") no-repeat -25px -504px
}

.telephone_r div {
    height: 46px;
    width: 170px;
    margin: 0 auto;
    text-align: center;
    line-height: 21px;
    color: #616161;
    font-size: 15px;
    margin-top: 8px;
}

.telephone_r .telephone_1 {
    border-bottom: 1px solid #65a546;
}

.app_QR {
    width: 120px;
    height: 110px;
    background: #fff;
    position: absolute;
    right: 75px;
    top: 0;
    text-align: center;
    padding-top: 10px;
    display: none;
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.app_QR i {
    display: block;
    width: 18px;
    height: 30px;
    background: url("../images/ion.png") no-repeat -40px -520px;
    position: absolute;
    right: -16px;
    top: 10px
}

.app_QR P {
    font-size: 12px;
    color: #616161;
    height: 30px;
    line-height: 30px;
}

.Wechat {
    width: 245px;
    height: 130px;
    background: #fff;
    position: absolute;
    right: 75px;
    top: 0;
    display: none;
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.Wechat i {
    display: block;
    width: 18px;
    height: 30px;
    background: url("../images/ion.png") no-repeat -40px -520px;
    position: absolute;
    right: -16px;
    top: 10px
}

.Wechat .weixin_left {
    float: left;
    width: 104px;
    border-right: 1px solid #616161;
    text-align: center;
    height: 126px;
    margin-top: 5px;
    font-size: 12px;
    color: #616161;
    line-height: 26px;
}

.Wechat .weixin_left .gf {
    letter-spacing: 1px;
}

.Wechat .weixin_right {
    float: right;
    width: 125px;
    margin-top: 8px;
    padding-left: 10px;
    background: url("../images/wx_right_bg.png") no-repeat bottom center;
    height: 105px;
    line-height: 24px;
    color: #616161;
}

.qq_content {
    width: 200px;
    height: 100px;
    background: #fff;
    position: absolute;
    right: 75px;
    top: 0;
    display: none;
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.qq_content i {
    display: block;
    width: 18px;
    height: 30px;
    background: url("../images/ion.png") no-repeat -40px -520px;
    position: absolute;
    right: -16px;
    top: 10px
}

.qq-title {
    line-height: 25px;
    text-align: center;
    color: #616161;
    font-size: 15px;
    padding-top: 5px;
}

.right_float li .link-light {
    width: 150px;
    display: inline-block;
    margin: 0 auto;
    height: 20px;
    padding-left: 20px;
    color: #616161;
}

.right_float li .mrs {
    padding-right: 10px;
}