/*推荐课程*/
.c_contmain{
    width: 714px;
    height:315px;
    margin: 0 auto;
    position: relative;
}
.box-wrap{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.home-promo-list {
    width: 957px;
    float: right;
    margin-left: 15px
}

.card-transform {
    width: 309px;
    height: 170px;
    float: left;
    text-align: center;
    position: relative;
    margin-left: 15px;
    -webkit-transition: -webkit-box-shadow .2s linear;
    transition: all .2s linear;
}
 .home-promo-list li:hover {
     z-index: 2;
     -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
     box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
     -webkit-transform: translate3d(0, -2px, 0);
     transform: translate3d(0, -2px, 0);
}
.card-transform .front {
    border-bottom: 1px solid #E4E4E4;
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    background-color: #fff;
}

.card-transform .back {
    padding-top: 35px;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    background-color: #f5f5f5;
}

.card-transform .back strong {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    font-weight: 400;
}

.card-transform .back p {
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 10px;
    color: #666;
}

.card-transform .back, .card-transform .item {
    display: inline-block;
    width: 309px;
    height: 170px;
    border-bottom: 1px solid #E4E4E4;
    -webkit-backface-visibility: hidden;
    -webkit-transition: .6s;
    -moz-backface-visibility: hidden;
    -moz-transition: .6s;
    -ms-backface-visibility: hidden;
    -ms-transition: .6s;
    backface-visibility: hidden;
    transition: .6s;
    position: absolute;
    left: 0;
    top: 0;
}

.card-transform .item img {
    height: 100%;
    width: 100%;
}

/*财会金融*/
.site-course {
    background: #f5f5f5;
    padding-top: 15px;
    padding-bottom: 60px;
}

.box-hd {
    position: relative;
    height: 58px;
    -webkit-font-smoothing: antialiased
}

.box-hd .title {
    float: left;
    margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333
}

.box-hd .title small {
    margin-left: 10px;
    font-size: 14px
}

.box-hd .title .tip {
    color: #757575
}

.box-hd .more {
    position: absolute;
    top: 24px;
    right: 0
}
.xh-controls .control-disabled {
    cursor: default;
    color: #e0e0e0;
}

.xh-controls a {
    float: left;
    width: 24px;
    height: 16px;
    padding: 3px 5px;
    border: 1px solid #e0e0e0;
    margin-left: -1px;
    font-size: 25px;
    line-height: 16px;
    display: inline-block;
    text-align: center;
    color: #b0b0b0;
    -webkit-transition: color .5s;
    transition: color .5s;
}

.box-hd .more a:hover {
    color: #36d38c;
}

.box-hd .more .more-link:hover .all {
    background-position: -18px 0;
}

.box-hd .more .tab-list li {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    padding: 0;
    margin: 0 15px;
    color: #424242;
    border-bottom: 2px solid #f5f5f5;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-color .5s;
    transition: border-color .5s;
    cursor: pointer
}
.mainbox {
    width: 400%;
    margin-bottom: 15px;
    position: absolute;
    left: -714px;
}
#mainbox{
    width:2415px;
}
.c_contmain ul li {
    float: left;
    width: 228px;
    height: 300px;
    background: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    /*-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);*/
}

.c_contmain ul li .imgbox {
    position: relative;
    overflow: hidden;
}

.c_contmain ul li .imgbox a {
    display: inline-block
}

.c_contmain ul li .imgbox img {
    width: 100%;
    height: 100%;
}
.c_contmain ul li.lifirst {
    margin-left: 0;
}

/*教育模块*/
.box-bd {
    margin-bottom: 15px;
}

.edu-left {
    width: 228px;
    height: 614px;
    float: left;
}

.edu-right {
    width: 972px;
    height: 614px;
    float: left;
}

.home-brick-box {
    width: 1200px;
    margin: 0 auto;
}

.xh-plain-box .box-hd .more .tab-list li:hover, .xh-plain-box .box-hd .more .tab-list li.tab-active {
    color: #ff6700;
    border-bottom: 2px solid #ff6700
}

.brick-list, .brick-promo-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: #f5f5f5;
}

.brick-promo-list a {
    display: block;
    width: 100%;
    height: 100%
}

.brick-promo-list img {
    width:100%
}

.brick-promo-list .brick-item-l img {
    height: 614px;
    width: 228px;
}

.brick-promo-list .brick-item-m {
    height: 300px;
    padding: 0
}

.brick-promo-list .brick-item-m img {
    height: 300px
}

.brick-promo-list .brick-item-s img {
    height: 143px
}

.brick-item {
    position: relative;
    float: left;
    width: 228px;
    margin-bottom: 15px;
    margin-left: 15px;
    background: #fff;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.brick-item-active {
    box-shadow: 0 0 20px #77777f;
    -webkit-box-shadow: 0 0 20px #77777f;
    -moz-box-shadow: 0 0 20px #77777f;
    -ms-box-shadow: 0 0 20px #77777f;
    -o-box-shadow: 0 0 20px #77777f;
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}

.brick-item:hover {
    z-index: 2
}

.brick-item-m .review-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 198px;
    padding: 7px 10px 0 10px;
    height: 0;
    overflow: hidden;
    _zoom: 1;
    font-size: 12px;
    background: #36d38c;
    opacity: 0;
    filter: alpha(opacity=0) \9;
    -webkit-transition: all .2s linear;
    transition: all .2s linear
}

.brick-item-m .review-wrapper {
    font-size: 12px;
    height: 0;
    display: block;
    padding: 7px 15px 0 15px;
    outline: 0;
    cursor: pointer;
}

.review-wrapper .evaluate {
    font-size: 12px;
    color: #fff;
    display: block
}
.review-wrapper .buy-collect{
    margin-top: 6px;
}
.review-wrapper .buy-collect a{
    height: 20px;
    margin-top: 5px;
    padding-right: 20px;
    line-height: 19px;
    color: #fff;
    font-size: 12px;
}

.review-wrapper .buy-collect i{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url("../images/buy-collect.png");
    position: absolute;
}

.review-wrapper .buy{
    background-position: 0 0;
    left: 15px;
}
.review-wrapper .buy:hover{
    background-position: -20px 0;
}
.review-wrapper .collect{
    background-position: 0 -18px;
    right: 15px;
}
.review-wrapper .collect:hover{
    background-position: -20px -18px;
}
.brick-item-active .review-wrapper {
    height: 60px;
    opacity: 1;
    filter: alpha(opacity=100) \9;
}

.brick-item-l {
    height: 614px;
    width: 228px;
}

.brick-item-m {
    height: 300px;
    *zoom: 1
}

.brick-item-m .figure-img a {
    display: block;
    width: 228px;
    height: 195px;
}
.brick-item-m .figure-img .mask{
    width: 228px;
    height: 195px;
    position: absolute;
    top:0;
    left:0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    filter: alpha(opacity=30);
    background: #000\9;
    background: -webkit-linear-gradient(top, rgba(225, 225, 225, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(top, rgba(225, 225, 225, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
}
.brick-item-m .figure-img .mask:hover{
    opacity: 0.2;
    filter: alpha(opacity=20);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.brick-item-m .figure-img{
    width: 228px;
    height: 195px;
    overflow: hidden;
}
.brick-item-m .figure-img img {
    width: 100%;
    height: 100%;
}
.brick-item-info{
    padding: 5px 15px 0;
    /*-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    border-right: 1px solid rgba(0, 0, 0, 0.05);*/
}
.brick-item-m .title {
    font-size: 14px;
    line-height: 35px;
    font-weight: 400;
    text-align: center;
}

.brick-item-m .title, .brick-item-m .title a {
    color: #333
}

.brick-item-m .title a {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    _zoom: 1
}

.brick-item-m .desc {
    line-height:28px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    _zoom: 1;
    color: #b0b0b0;
    text-align: center;
}
.brick-item-m .price{
    height: 35px;
    text-align: center;
}
.brick-item-m .price .num{
    display: inline-block;
    line-height: 35px;
    color: #ff6700;
}
.brick-item-m .price del .num{
    line-height: 16px;
    text-decoration: line-through;
    color: #b0b0b0;
}

.brick-item-m .people-head{
    float: left;
    margin-top: 8px;
    margin-right: 3px;
    width: 12px;
    height: 12px;
    background: url("../images/people.png") no-repeat;
}
.brick-item-m .people{
    padding: 0 10px;
    width: 208px;
    line-height: 30px;
    color: #fff;
    position: absolute;
    top:165px;
    left: 0;
}

.brick-item .flag {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    width: 64px;
    height: 20px;
    margin-left: -32px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #fff;
}
.brick-item .flag-saleoff {
    background-color: #e53935;
    z-index: 3;
}

.brick-item .flag-living {
    background-color: #ffac13;
    z-index: 4;
}

.brick-item .flag-new {
    background-color: #83c44e;
    z-index: 5;
}
.brick-item .flag-hot {
    background-color: #2196f3;
    z-index: 6;
}

.brick-item-t img {
    width: 228px
}

.brick-item-t .mask {
    width: 228px;
    height: 88px;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    background: rgba(0, 0, 0, .7);
    display: none
}
.brick-item-t .mask .price{
    line-height: 48px;
    color: #ff6700;
    text-align: center;
}
.brick-item-t a:hover .mask {
    display: block;
}

.brick-item-s {
    height: 93px;
    padding-top: 50px
}

.brick-item-s .figure-img {
    position: absolute;
    right: 20px;
    top: 32px;
    width: 80px;
    height: 80px
}

.brick-item-s .figure-img a {
    display: block
}

.brick-item-s .figure-img img {
    width: 100%;
    height: 100%
}

.brick-item-s .figure-more {
    position: absolute;
    right: 35px;
    top: 48px;
    width: 48px;
    height: 48px
}

.brick-item-s .figure-more a {
    display: block;
}

.brick-item-t .title {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.brick-item-s .title a {
    color: #333
}

.brick-item-t .money-num {
    text-align: center;
    font-size: 12px;
    color: #ff6700
}

.brick-item-s .money-num .num {
    font-size: 14px
}

.brick-item-s .more {
    display: block;
    margin: 0 110px 0 30px;
    font-size: 18px;
    color: #333
}

.brick-item-s .more small {
    display: block;
    font-size: 12px;
    color: #757575
}

.brick-item-s i {
    font-size: 48px;
    line-height: 48px;
    height: 0;
    padding-top: 48px;
}

.brick-item-l {
    margin: 0
}

.mask_info {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    left: 0;
    top: 0;
    transition: all ease-out .3s
}

.mask_info div {
    position: relative;
    top: 50%;
    margin-top: -46px;
}

.mask_info p.title {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0);
    font-size: 14px;
    transition: all ease-out .3s;
}

.mask_info p.subtitle {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0);
    font-size: 12px;
    line-height: 35px;
    transition: all ease-out .3s;
    letter-spacing: 2px
}

.mask_info p.publicity {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0);
    font-size: 12px;
    transition: all ease-out .3s;
}

.mask_info p.money-num {
    margin-top: 20px;
    color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 25px;
    transition: all ease-out .3s;
}

.mask_info p {
    text-align: center;
    color: #fff;
    padding: 0 20px;
    line-height: 30px;
}

.brick-promo-list a:hover .mask_info {
    background: rgba(0, 0, 0, .7);
}

.brick-promo-list a:hover .mask_info p.title {
    margin-top: 0;
    color: #fff;
    line-height: 30px;
}

.brick-promo-list a:hover .mask_info p.subtitle {
    margin-top: 0;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 2px
}

.brick-promo-list a:hover .mask_info p.publicity {
    margin-top: 0;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
}

.brick-promo-list a:hover .mask_info p.money-num {
    margin-top: 0;
    color: #ff6700;
    font-size: 14px;
    line-height: 30px;
}

.mask_info {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    left: 0;
    top: 0;
    transition: all ease-out .3s
}

.mask_info div {
    position: relative;
    top: 50%;
    margin-top: -46px;
}

.mask_info p.title {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0);
    font-size: 14px;
    transition: all ease-out .3s;
}

.mask_info p.subtitle {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0);
    font-size: 12px;
    line-height: 35px;
    transition: all ease-out .3s;
    letter-spacing: 2px
}

.mask_info p.publicity {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0);
    font-size: 12px;
    transition: all ease-out .3s;
}

.mask_info p.money-num {
    margin-top: 20px;
    color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 25px;
    transition: all ease-out .3s;
}

.mask_info p {
    text-align: center;
    color: #fff;
    padding: 0 20px;
    line-height: 30px;
}

.brick-promo-list a:hover .mask_info {
    background: rgba(0, 0, 0, .7);
}

.brick-promo-list a:hover .mask_info p.title {
    margin-top: 0;
    color: #fff;
    line-height: 30px;
}

.brick-promo-list a:hover .mask_info p.subtitle {
    margin-top: 0;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 2px
}

.brick-promo-list a:hover .mask_info p.publicity {
    margin-top: 0;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
}

.brick-promo-list a:hover .mask_info p.money-num {
    margin-top: 0;
    color: #ff6700;
    font-size: 14px;
    line-height: 30px;
}
.lifirst{
    margin: 0
}
/*分页*/
.text-center{
    text-align: center;
}
.viewList .text-center{
    background:#f5f5f5;
}
.pagination .active a{
    cursor: default;
    color: #fff;
    background-color: #46c37b;
    border-color: #34a263;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 2px;
}
.pagination > li {
    display: inline;
}
.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 5px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #919191;
    background-color: #f5f5f5;
    border: 1px solid #dcdcdc;
    margin: 5px;
    border-radius: 2px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: #e1e1e1;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 2;
    cursor: default;
    color: #fff;
    background-color: #46c37b;
    border-color: #34a263;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #e1e1e1;
    background-color: #ffffff;
    border-color: #dddddd;
    cursor: not-allowed;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
    padding: 5px 10px;
    font-size: 18px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
    padding: 1px 6px;
    font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}
.pager {
    padding-left: 0;
    margin: 20px 0;
    list-style: none;
    text-align: center;
}
.pager li {
    display: inline;
}
.pager li > a,
.pager li > span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 2px;
}
.pager li > a:hover,
.pager li > a:focus {
    text-decoration: none;
    background-color: #f5f5f5;
}
.pager .next > a,
.pager .next > span {
    float: right;
}
.pager .previous > a,
.pager .previous > span {
    float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
    color: #e1e1e1;
    background-color: #ffffff;
    cursor: not-allowed;
}
