#header {
    background: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid #dfdfdf \0;
    min-width: 1190px;
    width: 100%;
    box-sizing: content-box;
    height: 40px;
    font-size: 12px;
    color: #b0b0b0;
}

#header .container {
    position: relative;
    padding: 0 40px;
}

.login-title .top-logo {
    float: left;
    overflow: hidden;
}
.login-title .top-logo a {
    display: block;
    font-size: 14px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    color: #d8d8d8;
    text-align: center;
}


.login-title .nav-item {
    float: left;
    height: 40px;
}

.login-title .nav-item li {
    float: left;
}

.login-title .nav-item a {
    position: relative;
    padding: 0 15px;
    display: block;
    color: #b0b0b0;
    text-align: center;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.login-title .nav-item a:hover,.login-title .nav-item .active a,.login-title .nav-item a.active {
    color: #fff;
    background-color: #000;
}

.login-title .top-login {
    float: right;
}
.login-title .top-login a {
    float: left;
    position: relative;
    padding: 0 15px;
    display: block;
    color: #b0b0b0;
    text-align: center;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.login-title .top-login a:hover{
    color: #fff;
    background-color: #000;
}


.pop_login{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index:1001;
    display: none;
}

.login-content{
    width: 100%;
    max-width: 370px;
    position: absolute;
    left: 50%;
    margin-left: -185px;
    top:0;
    z-index: 1001;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
    outline: none;
    opacity: 0;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}
.login-view {
    display: none;
    color: #333;
    padding: 0 30px 12px;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, "Microsoft Yahei", sans-serif;
    font-size: 14px;
    position: relative;
}
.login-view .poplogin_close{
    position: absolute;
    right:15px;
    top:10px;
    color: #333;
    font-size: 26px;
    transition:All 0.4s ease-in-out;
    -webkit-transition:All 0.4s ease-in-out;
    -moz-transition:All 0.4s ease-in-out;
    -o-transition:All 0.4s ease-in-out;
}
.login-head{
    height: 48px;
    line-height: 48px;
    text-align: center;
    padding: 20px 0px;
    box-sizing: content-box;
}

.login-head h3 {
    text-align: center;
    font-size: 20px;
    font-weight: normal;
}

.input-username{
    padding-bottom: 30px;
    position: relative;
}
.login-body i{
    position: absolute;
    left: 9px;
    top:14px;
    color: #e5e5e5;
}
.xh-input input{
    width: 268px;
    height: 20px;
    padding: 10px 10px 10px 30px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    line-height: 20px;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    -webkit-transition: border .2s ease;
    transition: border .2s ease;
    box-sizing: content-box;
}
.xh-input input:focus {
    border: 1px solid #44b336;
}
.input-password{
    padding-bottom: 30px;
    position: relative;
}

.input-password a:hover{
    color: #36d38c;
}

.forget-password{
    float: right;
    color: #46c37b;
}
.for-rem a:hover{
    color: #2e8e57;
}
.rememberme{
    padding-left: 8px;
    margin-top: 20px !important;
}

.rememberme input[type=checkbox] {
    float: left;
    margin-top: 3px;
}

.for-rem{
    padding-bottom:20px;
}
.submit{
    height: 42px;
    padding-bottom: 30px;
    position: relative;
}
.submit .btn{
    background-color: #44b336;
    -webkit-transition: background .1s ease;
    transition: background .1s ease;
    display: block;
    width: 100%;
    height: 42px;
    border: 0;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    outline: none;
    cursor: pointer;
}
.submit .btn:hover{
    background-color: #55c447;
}
.submit p{
    text-align: center;
    margin-top: 20px !important;
}
.register-now{
    color: #46c37b;
}
.submit p a:hover{
    color: #2e8e57;
}
.social{
    padding-top: 12px;
    border-top: 1px solid #d9e1e5;
    margin-top: 20px !important;
}
.social a{
    display: inline-block;
    margin-right: 8px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: url(../images/icon-sns-circle.png) no-repeat;
    color: #fff;
    font-size: 20px;
}
.social .es-icon-qq{
    background-position: 0px 1px;
}
.social .es-icon-qq:hover{
    background-position: -30px 1px;
}
.social .es-icon-weixin{
    background-position: -1px -29px;
}
.social .es-icon-weixin:hover{
    background-position: -31px -29px;
}
.social .es-icon-weibo{
    background-position: -1px -59px;
}
.social .es-icon-weibo:hover{
    background-position: -31px -59px;
}

input:focus {
    border: 1px solid #44b336;
}

.input-err .xh-flag {
    display: block;
    background-position: -8px -20px;
    position: absolute;
    right: 9px;
    top: 11px;
    width: 20px;
    height: 20px;
}
.xh-err-tips{
    display: none;
}

.input-err .xh-err-tips{
    display: block;
    position: absolute;
    left: 0;
    bottom: 7px;
    font-size: 12px;
    color: #ff615b;
}
.xh-icon{
    background: url("../images/reg-ico.png") no-repeat;
}

.xh-icon-del{
    height: 20px;
    width: 20px;
    background-position: -28px -20px;
}
.xp-btn-del-name{
    display: none;
    position: absolute;
    right: 9px;
    top: 11px;
    cursor: pointer;
}
.input-err .xh-icon-del{
    display: none;
}

input:focus {
    border: 1px solid #44b336!important;
}
.main-login{
   width: 100%;
    height: 750px;
    background: url("../images/login-bg.jpg") no-repeat;
}
.main-login-content{
    float: right;
    width: 370px;
    margin-top:110px;
    background: white;
    border: 1px solid #d9e1e5;
    border-radius: 3px;
    box-shadow: 0 0 20px #77777f;
    -webkit-box-shadow: 0 0 20px #77777f;
    -moz-box-shadow: 0 0 20px #77777f;
    -ms-box-shadow: 0 0 20px #77777f;
    -o-box-shadow: 0 0 20px #77777f;
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}
/*忘记密码*/
body {
    background-color: #f5f5f5;
}
#main {
    padding: 80px 0;
}
.main-inner {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.05);
    padding: 0 20px;
    height: 545px;
}
.main-inner > .hd {
    border-bottom: 1px solid #e7e7e7;
    padding: 0 20px 16px;
    margin: 30px 0 20px;
}

.main-inner > .hd h3 {
    display: inline;
    font-size: 18px;
    margin-right: 10px;
    color: #333;
    font-weight: normal;
}

.main-inner > .bd {
    line-height: 40px;
    margin-left: 20px;
    padding-top: 20px;
}

.main-inner .nav-tabs {
    position: relative;
    margin-bottom: 20px;
    border-color: #f5f5f5;
}

.main-inner .nav-tabs > li {
    margin-bottom: 0;
    float: left;
    cursor: pointer;
}

.main-inner .nav-tabs > li > span {
    border: none;
    margin-right: 0;
    color: #313131;
    font-size: 16px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 5px 20px 15px;
}

.main-inner .nav-tabs > li.active > span, .main-inner .nav-tabs > li:hover > span {
    color: #46c37b;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form-wrap{
    display: none;
}

.form-wrap .form-group {
    position: relative;
    margin-bottom: 40px;
}

.form-wrap .control-label {
    display: inline-block;
    color: #666;
    line-height: 38px;
    text-align: right;
    margin-right: 6px;
    width: 85px;
    vertical-align: top;
    font-size: 14px;
}

.form-wrap .help-block {
    display: inline;
    color: #f40;
    line-height: 38px;
    margin-left: 10px;
    white-space: nowrap;
}

.form-wrap .form-control {
    border: 1px solid #cad2e0;
    border-radius: 3px;
    height: 20px;
    line-height: 1.2;
    padding: 8px 10px;
    width: 300px;
}
.form-group .offset {
    margin-left: 90px;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: none;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn a{
    color: #fff;
}

.btn-primary {
    border-color: #34a263;
    background-color: #44b336;
    color: #fff;
}

.tips-online {
    font-size: 14px;
    margin-top: 25px;
    color: #666;
}
.tips-online a {
    margin: 0 5px;
    color: #36d38c;
}
.form-wrap .input-code{
    width: 200px;
}
.form-wrap .btn-sms {
    color: #616161;
    background-color: #f5f5f5;
    border-color: #dcdcdc;
    border-radius: 2px;
    margin-left: 5px;
}
.form-wrap .btn-sms:hover{
    color: #46c37b;
}

/*重置密码*/
.form-wrap .help-block {
    display: inline;
    color: #f40;
    line-height: 38px;
    margin-left: 10px;
    white-space: nowrap;
}
.form-wrap .msg {
    position: absolute;
    top: 38px;
    left: 90px;
    color: #777;
    font-size: 12px;
    line-height: 30px;
}
/*成功*/
.email {
    margin-left: 50px !important;
}
.email .sent {
    font-size: 16px;
}
.go-index {
    font-size: 14px;
}
.email .sent i {
    font-size: 24px;
    color: #6ec04b;
    margin: 0 10px 0 -35px;
    top:5px;
    left: 10px;
}