.main {
    min-height: 750px;
    padding: 20px 0;
    background: #f5f5f5;
}
.noticesPage {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    min-height: 500px;
    padding: 20px;
}
.tz-head-nav{
    border-bottom: 1px solid #b7bbbf;
}
.tz-head-nav .btn{
    margin-top: 5px;
}
.n-tab {
    float: left;
    position: relative;
    padding-left: 30px;
    z-index: 1;
}
.n-tab li {
    float: left;
    height: 40px;
    line-height: 40px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    margin-right: 38px;
    position: relative;
    margin-bottom: -1px;
    padding: 0 10px
}
.n-tab li a {
    color: #787d82;
    font-size: 15px;
}

.n-tab li.active a {
    color: #36d38c;
    position: relative;
}
.n-tab li.active i{
    position: absolute;
    padding: 0px 3px;
    height: 12px;
    left: 40px;
    top: 7px;
    line-height: 12px;
    background: #c9394a;
    color: #fff;
    font-style: normal;
    font-size: 10px;
}


.n-tab li.active {
    border-color: #36d38c;
}
.content {
    margin-bottom: 42px;
}

.noticesPage .alert-warning {
    border-color: #ffd0b7;
    background-color: #fff9cd;
    color: #ff5e06;
}

.title-bar {
    height: 50px;
    background: #fff;
    font-family: "微软雅黑";
    font-size: 14px;
    line-height: 50px;
    color: #93999f;
}

.title-bar .tag-read-btn, .title-bar .tip-setting {
    float: right;
    margin-right: 20px;
    color: #4d555d;
}
.title-bar .tag-read-btn:hover{
    color: #36d38c;
}
.title-bar .tip-test {
    float: left;
    margin-left: 20px;
}
.no_ul li {
    padding: 16px 20px 5px;
    border-bottom: 1px solid #dddddd;
    margin: 0 24px 0 0;
    line-height: 20px;
    position: relative;
}

.no_li_tit {
    width: 650px;
    height: 25px;
    font-size: 14px;
    color: #000000;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.no_li_tit a{
    line-height: 25px;
}
.no_li_tit .attachment{
    color: #36d38c;
}
.no_li_tit a:hover{
    color:#000;
}
.no_li_time {
    float: left;
    font-size: 12px;
    color: #969696;
    margin-top: 5px;
}
.look-all{
    float: left;
    font-size: 12px;
    color: #36d38c;
    margin-top: 5px;
    margin-left: 20px;
}
.page_sel {
    float: right;
    margin: 29px 23px 29px 0;
}
.page_sel a {
    margin-left: 11px;
    font-size: 12px;
    padding: 8px 12px;
    display: inline-block;
}
.page_sel .page_change_01 {
    color: #999999;
    background: #ececec;
}
.page_sel .page_this {
    background: #36d38c;
    color: #fff;
}

.looked{
    position: absolute;
    font-size: 12px;
    color: #fff;
    padding:0 12px;
    border-radius: 50px;
    background: #CCC;
    right: 10px;
    top:30px
}
.nolooked{
    position: absolute;
    font-size: 12px;
    color: #fff;
    padding:0 12px;
    border-radius: 50px;
    background: #ff6700;
    right: 10px;
    top:30px
}
/*消息*/

.panel-page {
    padding: 20px 30px 50px;
    min-height: 500px;
}
.panel-page .panel-heading {
    background: transparent;
    border-bottom: none;
    margin: 0 0 30px 0;
    padding: 0;
}
.panel-page .panel-heading h2 {
    font-size: 25px;
    margin-top: 0;
    font-weight: normal;
}

.conversation-footer{
    color: #919191;
    font-size: 12px;
}

.conversation-list{
    padding-top: 10px;
}
.conversation-footer .sep{
    font-size: 12px ;
    color: #919191;
}
.conversation-footer a{
    color: #36d38c;
    font-size: 12px;
    visibility: hidden;
    padding-left: 20px;
}
.conversation-list li:hover .conversation-footer a{
    visibility: visible;
}
.avatar-sm {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 40px !important;
    height: 40px !important;
}
.conversation-list .media-heading {
    width: 650px;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 15px;
    color: #999;
    height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.conversation-list .media-heading a{
    line-height: 25px;
}
.link-dark {
    color: #313131 !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.link-dark:hover {
    color: #46c37b !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.mhm {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.conversation-list .media .actions {
    visibility: hidden;
}
.conversation-list .media:hover .actions {
    visibility: visible;
}
.conversation-list .media {
    cursor: pointer;
    padding: 10px 0;
}

#message-create-form .controls{
    width: 650px;
    padding-left: 10px;
    padding-right: 10px;
}
.form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #919191;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 2px;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control {
    color: #616161;
    border-color: #e1e1e1;
}

textarea.form-control {
    height: auto;
}

.delete-conversation-btn:hover{
    color: #36d38c;
}
/*回复*/

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    max-width: 276px;
    padding: 1px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: left;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    white-space: normal;
}

textarea {
    resize: none;
}

.message-list .media:hover .message-actions {
    visibility: visible;
}

.popover.right > .arrow:after {
    content: " ";
    left: 1px;
    bottom: -10px;
    border-left-width: 0;
    border-right-color: #ffffff;
}

.popover > .arrow, .popover > .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.message-list .popover .arrow {
    top: 24px;
}

#message_reply_content{
    width: 765px;
    margin-bottom: 20px;
}

.message-list .message-content {
    margin-bottom: 10px;
}

.message-list .popover {
    position: relative;
    display: block;
    margin: 0 20px 0 20px;
    max-width: 100%;
}
.message-list .message-she{
    border: none;
}
.message-list .message-she .popover {
    margin-right: 215px;
}

.message-reply-form {
    margin-bottom: 30px;
}

.popover {
    min-width: 200px;
    border-color: #e1e1e1;
}

.popover.right > .arrow {
    border-right-color: #e1e1e1;
}

.popover.right > .arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-left-width: 0;
    border-right-color: #999999;
    border-right-color: rgba(0, 0, 0, 0.25);
}

.popover-content {
    padding: 9px 14px;
}
.popover .popover-content {
    color: #616161;
}
.popover > .arrow:after {
    border-width: 10px;
    content: "";
}
.message-list .message-actions {
    float: right;
    visibility: hidden;
}
.message-list .message-actions a:hover{
    color: #36d38c;
}

/*回私信*/
.write .panel-heading{
    margin-right: 108px;
}