.breadcrumb {
    height: 40px;
    line-height: 40px;
    background: #f5f5f5;
    color: #616161;
}
.breadcrumb .container{
    position: relative;
}
.breadcrumb a {
    font-size: 12px;
    color: #757575;
}

.breadcrumb a:hover {
    color: #424242;
}

.breadcrumb .sep {
    margin: 0 0.5em;
    color: #b0b0b0;
}
.breadcrumb .live-notice{
    width:428px;
    position: absolute;
    font-size: 12px;
    color: #a5a5a5;
    top:0;
    right:0;
}
.site-my-order{
    padding-bottom: 40px;
    background: #f5f5f5;
}
.order-left{
    float: left;
    width: 228px;
    height: 500px;
    background: #fff;
    padding: 36px 0;
}
.nav-box {
    margin-bottom: 12px;
}
.nav-box  h3{
    margin: 0 48px 2px;
    font-size: 16px;
    font-weight: 400;
    line-height: 52px;
    color: #333;
}
.nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.nav-list li {
    padding: 6px 48px;
}

.nav-list li.active a {
    color: #46c37b;
}
.nav-list a {
    color: #757575;
}
.order-right{
    float: right;
    width: 957px;
    padding: 36px 0;
    background: #fff;
}
.order-list-box{
    margin: 0 48px;
}
.order-list-boxx .box-hd .filter-list li.tab-active a, .order-list-box .box-hd .filter-list li.active a {
    color: #46c37b;
}

.form-inline{
    float: right;
}
.well {
    padding: 9px;
    border-radius: 2px;
}

.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.form-control {
    cursor: pointer;
    color: #616161;
    border: 1px solid #e1e1e1;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-image: none;
    border-radius: 2px;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    background: #fff;
}


.order-list-box h2 {
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 68px;
    color: #757575;
}

.order-list-box .filter-list {
    float: left;
    margin: 0;
    padding: 18px 0;
    list-style-type: none;
    font-size: 16px;
    line-height: 1.25;
}
.order-list-box .filter-list li.first {
    padding-left: 0;
    border-left: 0;
}
.order-list-box .filter-list li {
    float: left;
    padding: 0 20px;
    border-left: 1px solid #e0e0e0;
    color: #757575;
}
.order-list-box .filter-list a {
    color: #757575;
}

.order-list-box .order-list {
    margin: 0;
    padding: 10px 0;
    list-style-type: none;
}

.order-list-box .order-item {
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #b0b0b0;
}
.order-list-box .order-summary {
    padding: 25px 30px 1px;
}

.order-item .order-status {
    color: #b0b0b0;
    font-size: 18px;
    line-height: 28px;
}
.order-item-finish .order-status, .order-item .order-desc {
    color: #b0b0b0;
}
.order-list-box .order-detail-table {
    width: 100%;
}

.order-list-box .order-detail-table th {
    height: 28px;
    padding: 0 30px 24px;
    border-bottom: 1px solid #e0e0e0;
    font-weight: 400;
    text-align: left;
    color: #757575;
    vertical-align: bottom;
}

.order-list-box .goods-list {
    margin: 0;
    padding: 10px 0;
    list-style-type: none;
}

.order-list-box .goods-list li {
    position: relative;
    margin: 10px 0;
    padding: 18px 18px 18px 100px;
    line-height: 22px;
    color: #333;
}

.order-list-box .goods-list .figure-thumb {
    position: absolute;
    left: 0;
    top: 0;
}

.order-list-box .goods-list .figure-thumb a {
    display: block;
}

.order-list-box .goods-list .figure-thumb img {
    width: 80px;
    height: 80px;
}

.order-list-box .goods-list .name {
    margin: 0;
}

.order-list-box .goods-list .price {
    margin-top: 10px;
    font-size: 14px;
    color: #ff6700;
}

.order-list-box .goods-list .name a {
    color: #333;
}

.order-list-box .order-item .order-detail-table th {
    border-bottom: 1px solid #e0e0e0;
}

.order-list-box .order-detail-table td {
    padding: 0 30px;
}

.order-list-box .order-detail-table th .sep {
    color: #e0e0e0;
}
.order-list-box .order-detail-table th .num {
    height: 18px;
    margin-right: 5px;
    font-size: 28px;
    font-weight: 200;
    line-height: 1;
    color: #333;
}

.order-list-box .order-detail-table .order-actions .btn {
    display: block;
    margin: 0 0 10px auto;
}

.btn-line-gray:hover {
    color: #fff;
    background-color: #757575;
    border-color: #757575;
}

.order-list-box .order-detail-table .order-actions {
    padding-top: 44px;
    text-align: right;
    vertical-align: top;
}

.btn {
    display: inline-block;
    width: 158px;
    height: 38px;
    padding: 0;
    margin: 0;
    border: 1px solid #b0b0b0;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    color: #b0b0b0;
    cursor: pointer;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.btn-small {
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
}
.order-item .non-pay{

}
.order-item .wait-pay{
    color: #ff6700
}
.order-item .paid{
    color: #36d38c;
}

.xm-pagenavi {
    height: 30px;
    padding: 15px 0;
    text-align: center;
}

.xm-pagenavi .numbers {
    display: inline-block;
    width: 48px;
    height: 24px;
    padding: 3px 0;
    margin: 0 7px;
    font-size: 18px;
    font-weight: 200;
    line-height: 24px;
    color: #b0b0b0;
}

.xm-pagenavi .es-icon {
    font-size: 24px;
    vertical-align: bottom;
}

.xm-pagenavi .numbers {
    cursor: pointer;
    display: inline-block;
    width: 48px;
    height: 24px;
    padding: 3px 0;
    margin: 0 7px;
    font-size: 18px;
    font-weight: 200;
    line-height: 24px;
    color: #b0b0b0;
}

.xm-pagenavi .current {
    background-color: #757575;
    color: #fff;
}
/*详情*/
.modal-backdrop {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000000;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal h4{
    font-size: 16px;
}
.modal.in .modal-dialog {
    position: relative;
    width: 600px;
    margin:10%  auto;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal-content {
    position: relative;
    background-color: #ffffff;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
    outline: 0;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16px;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.modal-header .close {
    margin-top: -2px;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

.modal-body {
    position: relative;
    padding: 15px;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table.order-table > tbody > tr > td, .table.order-table > tbody > tr > th {
    padding: 10px;
    line-height: 22px;
    vertical-align: top;
    border-top: 1px solid #dddddd;
    font-size: 14px;
}
.modal-body .money-text {
    color: #f40;
}

.modal-footer{
    padding: 15px;
    height: 40px;
}
.modal-footer .text-right {
    position: absolute;
    right: 15px;
    border: 10px;
}
.modal-footer .cancel {
    display: inline-block;
    width: 100px;
    line-height: 40px;
    text-align: center;
}
.modal-footer .cancel:hover{
    color: #36d38c;
}
.modal-footer .submit {
    width: 100px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background: #46c37b;
    border: none;
    cursor: pointer;
}