.course-play{
    float: left;
}
.nv {
    float: left;
}
.nv-goback a {
    width: 70px;
    text-align: center;
    color: #969b9e;
}
.nv-goback .revert i{
    font-size: 24px;
}
.nv > a {
    display: block;
    height: 40px;
    line-height: 40px;
}
.nv-menu > a {
    padding: 0 20px;
    font-size: 14px;
    color: #b5b9bc;
    position: relative;
}

/*视频播放*/
.js-box-wrap{
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    position:relative;
    padding-top: 20px;
    background: #e5e5e5;
}
.skin{
    position: fixed;
    _position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-width: 1000px;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    zoom: 1;
    background-image: url("../images/bg.jpg");
}
.video-con {
    position: relative;
    background-color: #f5f5f5;
    overflow: hidden;
}
.course-video-box{
    position: relative;
    margin: 0 auto;
    height: 100%;
}
.playlist-none{
    position: absolute;
    left: 50%;
    margin-left: -600px;
}
.playlist-none img{
    width:1200px;
}

/*侧栏*/
.section-list {
    position: absolute;
    right: -360px;
    top: 0;
    z-index: 999;
    width: 360px;
    height: 100%;
    background:#999;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.section-list .operator {
    position: absolute;
    top: 50%;
    left: -50px;
    margin-top: -220px;
    width: 50px;
}
.section-list .operator .op {
    position: relative;
    height: 60px;
    line-height: 82px;
    font-size: 12px;
    text-align: center;
    color: #B5B9BC;
    background-color: #363C40;
    cursor: pointer;
    margin: 2px 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.section-list .operator .op em {
    position: absolute;
    left: 0;
    top: 12px;
    width: 50px;
}

.section-list .operator .op:hover, .section-list .operator .op.light {
    background-color: #36d38c;
    color: #fff;
}

.nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.nano>.nano-content {
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    outline:none;
}
.period-list {
    margin-top: 20px;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

.period-list > li {
    margin-bottom: 10px;
    padding: 10px 15px;
}

.period-list .item-active i{
    color: #46c37b !important;
}

.period-list .period {
    position: relative;
}
.period-list .period:hover, .period-list .period.item-active {
    background-color: #f2fae3;
}
.period-list .period > a {
    color: #919191;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.period-list .period .title {
    color: #616161;
}
.period-list .period .course-type {
    position: absolute;
    top: 11px;
    right: 15px;
    line-height: 20px;
}
.period-list .period .course-type i {
    font-size: 20px;
    color: #919191;
    position: relative;
    top: 2px;
}
.period-list .period .course-type small {
    margin-top: -3px;
}
/*笔记弹窗*/
input, button, textarea, select {
    border: 0;
}

.note-pop {
    display: none;
    position: fixed !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99999;
}

.note-pop .pop-con {
    position: absolute;
    background-color: #fff;
    width: 610px;
    height: 280px;
    left: 50%;
    top: 50%;
    margin-left: -325px;
    margin-top: -140px;
    padding: 0 20px;
}
.note-pop .pop-title {
    position: relative;
    height: 50px;
    border-bottom: 1px solid #d0d6d9;
}
.note-pop .pop-title h3 {
    margin-right: 20px;
    line-height: 50px;
    font-size: 16px;
    font-weight: normal;
}
.note-pop .pop-title span {
    position: absolute;
    right: 0;
    top: 18px;
    cursor: pointer;
}

.textarea-wrap {
    position: relative;
    border: 1px solid #d3dce0;
    padding: 8px 10px;
    transition: border-color 0.2s;
    -webkit-transition: border-color 0.2s;
    -moz-transition: border-color 0.2s;
    -o-transition: border-color 0.2s;
}
.note-pop .textarea-wrap {
    margin: 30px 10px 0;
}
.note-pop .textarea-wrap textarea {
    color: #14191E;
    font-size: 14px;
    height: 72px;
    line-height: 18px;
    overflow: auto;
    resize: none;
    width: 100%;
}

.note-text-counter {
    position: absolute;
    right: 5px;
    bottom: 3px;
    font-size: 12px;
    line-height: 1em;
    color: #ccc;
}

.input-btm {
    padding: 30px 0 40px;
}

.note-pop .pop-footer {
    margin: 0 10px;
}

.course-btn, .course-discuss-btn {
    float: right;
    width: 120px;
    height: 40px;
    background-color: #00b33b;
    text-align: center;
    font: 14px/40px "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif;
    color: #fff;
    cursor: pointer;
}
.course-btn:hover, .course-discuss-btn:hover {
    background-color: #33a646;
}


.label-checked {
    float: right;
    vertical-align: middle;
    cursor: pointer;
    line-height: 40px;
    color: #909b9e;
    font-size: 12px;
    padding: 0 10px;
}
.checked{
    position: relative;
    top:3px;
}

.fake-focus {
    border-color: #39b94e;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c6ebcc;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c6ebcc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c6ebcc;
}

/*问题弹窗*/
.qa-pop {
    display: none;
    position: fixed !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
}
.qa-pop .pop-con {
    position: absolute;
    background-color: #fff;
    width: 610px;
    height: 365px;
    left: 50%;
    top: 50%;
    margin-left: -325px;
    margin-top: -180px;
    padding: 0 20px;
    z-index: 1001;
}
.qa-pop .pop-title {
    position: relative;
    height: 50px;
    border-bottom: 1px solid #d0d6d9;
}
.qa-pop .pop-title h3 {
    margin-right: 20px;
    line-height: 50px;
    font-size: 16px;
    font-weight: normal;
}
.qa-pop .pop-title span {
    position: absolute;
    right: 0;
    top: 18px;
    cursor: pointer;
}
.qa-pop .qa-control-wrap {
    padding: 0;
    margin-top: 30px;
}
.qa-pop .question-area {
    float: none;
    width: auto;
    padding-bottom: 0;
}
.qa-pop .qa-control {
    position: relative;
    overflow: hidden;
    margin: 0 10px;
}

.qa-pop .qa-ipt-title {
    width: 94%;
    border: 1px solid #d3dce0;
    padding: 8px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.qa-pop .qa-ipt-title input {
    display: block;
    width: 100%;
    border: 0 none;
    line-height: 22px;
    color: #14191e;
}

.qa-pop .qa-control-wrap {
    padding: 0;
    margin-top: 30px;
}

.question_content{
    box-sizing:border-box;
    padding-left: 8px;
}
/*资料*/
#data-item-list h5 {
    font-weight: bold;
    font-size: 13px;
    color: #999;
    margin: 10px;
}

#data-item-list .media-list .empty-item {
    color: #999;
    text-align: left;
    margin-left: 10px;
}


/*作业*/
.homework-pane h5{
    font-weight: bold;
    font-size: 13px;
    color: #999;
    margin: 10px;
}
.homework-pane .lesson-about{
    color: #999;
    font-size: 12px;
    margin: 10px;
    margin-bottom: 30px;
}


/*底部控制*/
.dashboard-footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.dashboard-footer .glyphicon{
    font-size: 16px;
    position: relative;
    top:3px

}
.next-lesson-btn{
    margin-left: 90px;
}
.finish-btn{
    float: right;
}
.scan{
    position: relative;
}
.qrcode{
    position: absolute;
    padding: 5px 10px;
    font-size: 12px;
    background: #fff;
    color: #313131;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    display: none \9;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
    top: 0;
    right:100%;
    transform-origin: 100% 0;
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    line-height: 16px;
}
.qrcode img{
    margin-bottom: 5px;
    width: 110px;
    height: 110px;
}
.open .qrcode{
    display: block \9;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
    filter: alpha(opacity=100);
}
#evaluate-publish .form-group {
    margin: 0 10px 30px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}