#header {
    background: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid #dfdfdf \0;
    min-width: 1190px;
    width: 100%;
    box-sizing: content-box;
    height: 40px;
    font-size: 12px;
    color: #b0b0b0;
}

#header .container {
    position: relative;
    padding: 0 40px;
}

.top-logo {
    float: left;
    overflow: hidden;
}
.top-logo a {
    display: block;
    font-size: 14px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    color: #d8d8d8;
    text-align: center;
}


.login-head .nav-item {
    float: left;
    height: 40px;
}

.login-head .nav-item li {
    float: left;
}

.login-head .nav-item a {
    position: relative;
    padding: 0 15px;
    display: block;
    color: #b0b0b0;
    text-align: center;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.login-head .nav-item a:hover,.login-head .nav-item .active a,.login-head .nav-item a.active {
    color: #fff;
    background-color: #000;
}

.login-head .top-login {
    float: right;
}
.login-head .top-login a {
    float: left;
    position: relative;
    padding: 0 15px;
    display: block;
    color: #b0b0b0;
    text-align: center;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.top-login a:hover{
    color: #fff;
    background-color: #000;
}


.main-register {
    width: 100%;
    height: 800px;
    background: url("../images/login-bg.jpg") no-repeat;
}

.main-register-content{
    float: right;
    width: 380px;
    margin-top: 110px;
    background: white;
    border: 1px solid #d9e1e5;
    border-radius: 3px;
    box-shadow: 0 0 20px #77777f;
    -webkit-box-shadow: 0 0 20px #77777f;
    -moz-box-shadow: 0 0 20px #77777f;
    -ms-box-shadow: 0 0 20px #77777f;
    -o-box-shadow: 0 0 20px #77777f;
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}
.register-view{
    color: #333;
    padding: 0 30px 12px;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, "Microsoft Yahei", sans-serif;
    font-size: 14px;
    position: relative;
}
.xh-hide {
    display: none;
}
.register-view .head{
    height: 48px;
    line-height: 48px;
    text-align: center;
    padding: 20px 0px;
}
.tab-hd{
    margin: 0 auto;
    width: 100%;
}
.tab-hd li {
    float: left;
    width: 50%;
}
.tab-hd li a {
    display: inline-block;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 100%;
    line-height: 20px;
    text-align: center;
    border-bottom: 1px solid #d9e1e5;
    font-size: 18px;
    color: #424451;
}
.tab-hd .active a {
    padding-bottom: 16px;
    border-bottom: 3px solid #36d38c;
    color: #36d38c;
    cursor: default;
}
.register-content{
    margin-top: 30px;
}
.register-content .form-group {
    position: relative;
}
.register-content .form-group label {
    position: absolute;
    left: 9px;
    top: 10px;
    font-size: 18px;
    color: #d9e1e5;
}
.register-content .form-group input {
    padding: 9px 9px 9px 34px;
    width: 275px;
    line-height: 20px;
    border: 1px solid #d9e1e5;
    border-radius: 3px;
    outline: none;
}
.register-content .form-group .help-block {
    text-indent: 10px;
    min-height: 24px;
    line-height: 24px;
    font-size: 12px;
}
.register-content .form-group input.input-code {
    width: 152px;
}
.btn-sms {
    float: right;
    padding: 0;
    width: 108px;
    line-height: 38px;
    text-align: center;
    color: #46c37b;
    font-size: 13px;
    border: 1px solid #46c37b;
}
.btn-primary {
    padding: 0;
    width: 100%;
    line-height: 48px;
    text-align: center;
    border: none;
    font-size: 18px;
    background: #44b336;
    color: #fff;
    cursor: pointer;
}
.btn-primary:hover{
    background:#55c447;
}
.to-login{
    margin-top: 20px;
    text-align: center;
    color: #333;
}
.to-login a{
    color: #46c37b;
}
.social{
    padding-top: 12px;
    border-top: 1px solid #d9e1e5;
    margin-top: 20px !important;
}
.social a{
    display: inline-block;
    margin-right: 8px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: url(../images/icon-sns-circle.png) no-repeat;
    color: #fff;
    font-size: 20px;
}
.social .es-icon-qq{
    background-position: 0px 1px;
}
.social .es-icon-qq:hover{
    background-position: -30px 1px;
}
.social .es-icon-weixin{
    background-position: -1px -29px;
}
.social .es-icon-weixin:hover{
    background-position: -31px -29px;
}
.social .es-icon-weibo{
    background-position: -1px -59px;
}
.social .es-icon-weibo:hover{
    background-position: -31px -59px;
}
