.h1, .h2, .h3, h1, h2, h3 {
   font-weight: normal;
}
img{
    width: 100%;
}
body{
    background: #f5f5f5;
}

.wrap-left {
    float: left;
    width: 800px;
    margin-right: 20px;
    background: #fff;
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 20px;
}
.big-pic-box {
    position: relative;
    height: 300px;
    margin-bottom: 20px;
}
.big-pic {
    float: left;
    position: relative;
    width: 533px;
    height: 300px;
    overflow: hidden;
}

.big-pic .back-img, .big2-pic .back-img {
    width: 100%;
}
.big-pic img, .big2-pic img, .hot-article-img img, .mod-thumb img, .topic-content img {
    width: 100%;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.big-pic:hover img, .big2-pic:hover img, .hot-article-img:hover img, .mod-thumb:hover img, .topic-content:hover img {
    -webkit-transform: matrix(1.04,0,0,1.04,0,0);
    -moz-transform: matrix(1.04,0,0,1.04,0,0);
    -ms-transform: matrix(1.04,0,0,1.04,0,0);
    -o-transform: matrix(1.04,0,0,1.04,0,0);
    transform: matrix(1.04,0,0,1.04,0,0);
}
.big-pic-content, .big2-pic-content{
    position: absolute;
    left: 0;
    top:0;
    width: 533px;
    height: 300px;
    z-index: 10;
    cursor: pointer;
    display: block;
}
.big-pic-content .title{
    margin: 0 30px;
    bottom: 22px;
    position: absolute;
    word-break: break-all;
    font-size: 24px;
    color: #fff;
}
.big2-pic{
   float: right;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
}

.big2-pic.big2-pic-index, .big2-pic.big2-pic-index .big2-pic-content {
    width: 257px;
    height: 145px;
}

.big2-pic-content .title {
    word-break: inherit;
    font-size: 18px;
    color: #fff;
    line-height: 1.5;
    font-weight: 400;
}
.big2-pic.big2-pic-index .big2-pic-content .title {
    position: absolute;
    word-break: break-all;
    color: #fff;
    font-size: 16px;
    margin: 0 20px;
    bottom: 16px;
}

.big-pic:before, .big2-pic:before, .topic-content:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    background: -webkit-gradient(linear,0 30%,0 100%,from(rgba(0,0,0,0)),to(#121515));
    background: -moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0),#121515);
    background: -ms-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0),#121515);
    background: -o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0),#121515);
}
/*横导航*/
.wrap-left .nav {
    line-height: 50px;
    background: #fff;
}
.wrap-left .nav ul{
    border-bottom: 1px solid #f0f0f0;
}
.wrap-left .nav ul li {
    float: left;
    text-align: center;
}
.wrap-left .nav ul li a {
    padding: 15px 18px;
    color: #616161;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.wrap-left .nav .sub-title {
    display: none;
}
.wrap-left .nav ul .cur a{
    color: #36d38c;
}
.wrap-left .nav ul li span {
    color: #e0e0e0;
    margin: 0;
}

/*咨询列表*/
.mod-info{
    background: #fff;
}
.mod-info-list li{
    padding: 30px 0;
    height: 120px;
    border-bottom: 1px solid #f0f0f0;
    width: 760px;
}
.mod-thumb{
    float: left;
    width: 220px;
    height: 120px;
    overflow: hidden;
    margin-right: 30px;
}
.mod-content{
    float: left;
    width: 510px;
}

.mod-content h3 a {
    font-size: 18px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.mod-content h3 a:hover{
    color: #36d38c;
}
.mod-author .author-name, .mod-author .time, .mod-author em {
    color: #bbb;
    line-height: 24px;
    font-style: normal;
}

.mod-author {
    margin: 15px 0;
}

.mod-author .author-face {
    position: absolute;
    width: 25px;
    height: 25px;
}

.author-name a:hover{

    color: #36d38c !important;
}
.mod-author .author-face img {
    width: 100%;
    overflow: hidden;
    border-radius:50%
}
.mod-author .author-name {
    display: inline-block;
    margin-left: 36px;
}

.mod-author .time {
    margin-left: 20px;
}
.mod-author i{
    margin-left: 20px;
    color: #bbb;
}
.mod-author em {
    margin-left: 5px;
}
.mod-sub-info{
    font-size: 14px;
    color: #999;
    line-height: 24px;
}
.get-mod-more{
    height: 60px;
    width: 100%;
    line-height: 60px;
    color: #bbb;
    background: #fff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #f0f0f0;
    margin-bottom: 30px;
    margin-top: -6px;
}
.get-mod-more:hover{
    color: #36d38c;
}
/*大模块*/
.mod-info-list .mod-b-push {
    height: 280px;
}
.mod-b-push .mod-thumb {
    float: left;
    width: 500px;
    height: 280px;
}
.mod-b-push .mod-content {
    float: right;
    width: 240px;
    margin-top: -280px;
}
.mod-b-push .mod-content h3 a{
    font-size: 28px;
    line-height: 1.5;
}


/*右侧*/
.wrap-right {
    float: right;
    width: 335px;
}
.box-moder {
    padding: 0 25px;
    background-color: #ffffff;
    margin-bottom: 15px;
    position: relative;
}
.box-moder h3 {
    font-size: 18px;
    padding: 15px 0;
    border-bottom: 1px solid #f5f5f5;
    color: #666;
}
.span-mark {
    display: inline-block;
    background-color: #f63756;
    position: absolute;
    z-index: 1;
    height: 20px;
    line-height: 20px;
    margin: -35px 0 0;
    width: 4px;
    left: 0;
}
/*热门资讯*/
.transition {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.moder-message-list .story-box-warp{
    width: 100%;
    height: 500px;
    overflow: auto;
}.moder-message-list ul{
    width: 100%;
    position: absolute;
    left: 0;
    top:0
 }
.moder-message-list ul li .story-content .story-title {
    cursor: pointer;
}

.moder-message-list .open {
    position: absolute;
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
    font-size: 24px;
    right: 18px;
    top: 5px;
    color: #999;
}

.moder-story-list .story-box-warp {
    width: 100%;
    height: 500px;
    overflow: auto;
}

.moder-message-list ul li .story-content .story-info{
    display: none;
}
.moder-message-list ul li .story-content .bold{
    font-weight: 600;
}
.moder-message-list ul li .story-content .bold .open{
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
}
.moder-message-list ul li .story-content .story-title p {
    width: 240px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 9px;
    font-size: 14px;
    color: #333;
    line-height: 28px;
    position: relative;
}

.moder-message-list ul .story-open p {
    position: relative;
    background-color: #fff;
}

.moder-message-list li .story-content p {
    font-size: 14px;
    color: #777;
    line-height: 24px;
    padding-right: 15px;
}

.moder-message-list li .story-content p a {
    color: #bbb;
}
.moder-message-list li .story-content p a:hover {
    color: #36d38c;
}
.moder-message-list li .story-content .story-title p:hover {
    color: #36d38c;
}
.moder-message-list li .story-content .story-title p:hover span{
    color: #36d38c;
}
.moder-message-list li .story-content .story-time p {
    padding-bottom: 5px;
    line-height: 39px;
}
.nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.nano>.nano-pane {
    width: 5px;
    visibility: hidden\9;
    opacity: .01;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.nano>.nano-content {
    left: 0;
}

.nano>.nano-content, .nano>.nano-pane {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.nano>.nano-pane>.nano-slider {
    background: #444;
    background: rgba(0,0,0,.5);
    position: relative;
    margin: 0 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.nano-pane.active, .nano-pane.flashed, .nano:hover>.nano-pane {
    visibility: visible\9;
    opacity: .99;
}

/*神评论*/
.moder-comment-list ul{
    padding: 15px 0;
}
.moder-comment-list li {
    padding-bottom: 1.5rem;
}
.moder-comment-list li:first-child {
    padding-top: 0;
}
.moder-comment-list li .img_box {
    height: 1.5rem;
    border-radius: 50%;
}
.moder-comment-list li .img_box .name{
    vertical-align: middle;
    font-size: .65rem;
    color: #666;
}
.moder-comment-list li .img_box .name:hover{
    color: #36d38c;
}
.moder-comment-list li .img_box img {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
    border-radius: 50%;
}
.moder-comment-list li .img_box .name {
    font-size: 1.2em;
    word-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: .5rem;
    display: inline-block;
    max-width: 5rem;
}
.moder-comment-list li .img_box .circle {
    margin: 0 .5rem;
    display: inline-block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #999;
}
.moder-comment-list li .info_box p{
    background-color: #f1f1f1;
    color: #3d464d;
    margin-top: .75rem;
    padding: .75rem 1rem;
}
.moder-comment-list li .info_box .comment_inner {
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    line-height: 2em;
    max-height: 6em;
    color: #999;
    font-size: 1.1em;
}
.moder-comment-list li .source {
    font-size: 1.2em;
    margin-top: .75rem;
    display: block;
    word-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #999;
}
.moder-comment-list li .source span b {
    font-weight: 400;
    padding: 0 .25rem 0 0;
}
.moder-comment-list li .source span a {
    font-size: 1em;
    color: #999;
}
.moder-comment-list li .source span a:hover{
    color: #36d38c;
}
/*推荐咨询*/
.moder-recommend-list ul li {
    padding: 30px 0 24px;
    border-bottom: 1px solid #f0f0f0;
    overflow: hidden;
}
.moder-recommend-list ul li .hot-article-img {
    width: 340px;
    overflow: hidden;
}

.moder-recommend-list ul li img {
    overflow: hidden;
    margin-bottom: 20px;
}

.moder-recommend-list ul li a {
    font-size: 16px;
    line-height: 28px;
}
.moder-recommend-list ul li a:hover{
    color: #36d38c;
}
/*资讯内容页*/
.left-content{
    width: 710px;
    padding-left: 115px;
    background: #fff;
    margin-bottom: 20px;
}

.article-metas {
    overflow: hidden;
}

.article-author {
    position: relative;
    color: #919191;
    margin: 10px auto;
    font-size: 14px;
}

.article-author .author-name a:hover {
    color: #333;
}

.article-author .article-time {
    margin: 0 15px 0 10px;
}

.pull-left {
    float: left !important;
}

.article-metas .date {
    height: 45px;
    width: 45px;
    text-align: center;
    color: #919191;
    background-color: #f5f5f5;
    border-radius: 50%;
}

.article-metas .date .day {
    padding-top: 5px;
    font-size: 16px;
    line-height: 1.2;
}

.article-metas .date .month {
    font-size: 12px;
}

.article-metas .metas-body .title {
    margin: 0;
    font-size: 28px;
    position: inherit;
    line-height: 1.5;
    color: #333;
    word-wrap: break-word;
    word-break: normal;
}
.article-metas .metas-body .sns {
    float: right;
    color: #919191;
    margin: 10px auto;
    font-size: 14px;
}
.article-metas .metas-body .sns span {
    margin-right: 10px;
}

.article-metas .metas-body .sns span i {
    margin-right: 5px;
}
.article-text .sub-title{
    font-size: 16px;
    color: #333;
}

.article-text p {
    font-size: 16px;
    line-height: 30px;
    margin: 20px auto 30px auto;
}

.article-text p img{
    width:710px;
}
.article-text strong{
    font-size: 18px;
    font-weight: 700;
    color: #a41d1d;
}
.article-text em{
    font-weight: 700;
}
/*侧边按钮*/
.article-left-btn-group {
    width: 60px;
    float: left;
    position: fixed;
    z-index: 10;
    margin-left: -100px;
}
.article-left-btn-group ul li {
    width: 60px;
    cursor: pointer;
    background-color: #fafafa;
    border-bottom: 1px solid #f0f0f0;
}
.article-left-btn-group ul li a{
    display: inline-block;
    width: 60px;
    height: 60px;
    font-size:12px;
    text-align: center;
    position: relative;
    z-index: 2;
}
.article-left-btn-group ul li:hover a:hover{
    color: #fff;
}
.article-left-btn-group ul li i{
    line-height: 60px;
    display: block;
    font-size: 30px;
    color: #999;
}
.article-left-btn-group ul li .article-pl i{
    font-size: 24px;
    line-height: 40px;
}
.article-left-btn-group ul li  .collection i{
    line-height: 40px;
}
.article-left-btn-group ul li:before {
    content: "";
    position: absolute;
    z-index: 0;
    width: 60px;
    height: 62px;
    opacity: 0;
    -webkit-transition: .5s cubic-bezier(.3,0,0,1.3);
    -moz-transition: .5s cubic-bezier(.3,0,0,1.3);
    transition: .5s cubic-bezier(.3,0,0,1.3);
    -o-transform: scale(0,0);
    transform: scale(0,0);
}
.article-left-btn-group ul li:hover:before {
    opacity: 1;
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    -o-transform: scale(1,1);
    transform: scale(1,1);
    z-index: 1;
}
.article-left-btn-group ul li:hover:before {
    background-color: #36d38c;
}

.article-left-btn-group ul li a:hover i{
    color: #fff;
}
.article-left-btn-group .weixin-Qr-code {
    display: none;
    position: absolute;
    width: 120px;
    height: 120px;
    padding: 5px;
    margin-left: 70px;
    margin-top: -35px;
    box-shadow: 0 0 6px rgba(14,22,30,.3);
    background-color: #fff;
    z-index: 10;
    opacity: 0;
}
.article-left-btn-group .weixin-Qr-code:after, .article-left-btn-group .weixin-Qr-code:before {
    width: 12px;
    height: 12px;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    background: #fff;
    border: 1px solid #ddd;
    border-width: 1px 1px 0 0;
    position: absolute;
    top: 57px;
    left: -7px;
    content: " ";
}

.shouquan-public {
    font-size: 14px!important;
    text-align: center;
}
.shouquan-public span {
    display: table;
    line-height: 30px;
}
.shouquan-public img {
    width: 200px;
}
.Qr-code {
    position: relative;
    padding: 30px 0 0;
    z-index: 80;
    height: 98px;
}
.download-box, .praise-box {
    line-height: 48px;
    height: 48px;
    width: 148px;
    text-align: center;
}
.praise-box {
    border: 1px solid #f6f6f6;
    color: #bbb;
    cursor: pointer;
}

.praise-box:hover {
    background-color: #36d38c;
    border-color: #36d38c;
    color: #fff;
}
.download-box, .praise-box.center-box {
    margin: 0 auto;
}
.download-box, .praise-box.center-box i{
    font-size: 26px;
}
.download-box, .praise-box.center-box .num{
    margin-left: 5px;
}
.praise-box-add {
    position: absolute;
    margin-top: -40px;
    margin-left: 50px;
    color: #333;
    opacity: 0;
}
.article-wrap .tag-box {
    border-top: 1px solid #f0f0f0;
    padding-top: 20px;
    display: inline-block;
    width: 100%;
}
.article-wrap .tag-box ul li {
    float: left;
    height: 35px;
}

.article-wrap .tag-box ul li a{
    display: inline-block;
    padding: 0 15px;
    height: 35px;
    background-color: #f0f0f0;
    color: #bbb;
    line-height: 35px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.article-wrap .tag-box ul li a:hover{
    color: #333
}
/*评论*/
.pl-wrap {
    margin-top: 50px;
}
.span-mark-author {
    border-bottom: 4px solid #f63756;
    z-index: 1;
    height: 28px;
    line-height: 20px;
    font-size: 16px;
}

.pl-list-wrap {
    margin-top: 40px;
    position: relative;
    margin-bottom: 60px;
}

.pl-form-author {
    margin-top: 30px;
}

.pl-form-wrap .span-mark-author, .pl-list-wrap .span-mark-author {
    font-size: 18px;
    border: none;
    color: #bbb;
}
.pl-list-wrap .span-mark-author {
    border: none!important;
    margin: -21px 0 0;
}
.dp-box .span-mark-author, .pl-form-wrap .span-mark-author.active, .pl-list-wrap .span-mark-author.active {
    border-bottom: 4px solid #f63756;
    color: #333;
}

.pl-box-wrap {
    padding: 30px 0;
    border-top: 1px solid #f0f0f0;
}

.pl-list-wrap .title span{
    font-size: 16px;
    margin: 0 10px;
    color: #999;
}


.pl-list-wrap .pl-box-wrap {
    position: relative;
    top: 30px;
}
.author-info {
    margin: 0 0 15px;
    display: inline-block;
}
.author-info .author-face {
    position: relative;
    width: 50px;
    height: 50px;
    float: left;
}

.author-info .author-face img {
    border-radius: 40px;
}
.author-info .author-name, .author-info .time {
    top: 17px;
    margin-left: 20px;
    position: relative;
}
.author-info .time {
    color: #bbb;
}
.pl-box-wrap .pl-content {
    word-break: break-all;
    word-wrap: break-word;
    line-height: 24px;
    font-size: 14px;
}
.dp-box {
    padding: 20px;
    background-color: #f6f6f6;
    margin-top: 20px;
    box-sizing: border-box;
}
.dp-box:before {
    content: '';
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    border-width:13px;
    border-style: solid;
    border-color:transparent transparent #f6f6f6;
    top: -45px;
    left: 10px;
}

.dp-box .span-mark-author {
    font-size: 16px;
    float: left;
    margin-top:6px;
}

.dp-box .dl-user {
    padding-top: 20px;
    border-top: 1px solid #f0f0f0;
    cursor: pointer;
}
.dl-user .user-pic {
    position: relative;
    width: 34px;
    height: 34px;
    float: left;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
}
.dl-user ul li img {
    border-radius: 17px;
}
.one-pl-content {
    margin-left: 50px;
    cursor: auto;
    word-wrap: break-word;
    margin-top: 10px;
}
.one-pl-content .time {
    float: right;
    color: #ccc;
}
.one-pl-content .content {
    margin-right: 120px;
    line-height: 24px;
    color: #999;
}
.one-pl-content .name {
    font-size: 14px;
    color: #bbb;
}
.one-pl-content .dp-reply-box, .one-pl-content .js-hf-article-pl {
    font-size: 14px;
    margin: 20px 20px 9px 0;
    cursor: pointer;
    color: #bbb;
}
.one-pl-content .hu-pl-box {
    margin-top: 20px;
    display: none;
}

.form-control, output {
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    display: block;
}

.form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    box-sizing: border-box;
}
.one-pl-content .hu-pl-box textarea {
    height: 120px;
}

.pl-form-box textarea {
    height: 180px;
    border-radius: 0;
    resize: none;
    box-shadow: none;
    border-color: #f0f0f0;
}

.pl-form-wrap .pl-form-box{
    display: block;
}
.btn {
    border-radius: 0;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-article, .sx-form-warp {
    margin-top: 20px;
}

.btn-article {
    width: 148px;
    height: 48px;
    line-height: 38px;
    color: #fff;
    background-color: #36d38c;
    font-size: 18px;
    border-radius: 0;
    margin-bottom: 30px;
}
.btn-article:hover{
    background-color: #46c37b;
}

.one-pl-content .hu-pl-box textarea {
    height: 120px;
}

/*我要点评*/
.pl-box-btm {
    margin-top: 15px;
    font-size: 14px;
    color: #999;
    cursor: pointer;
}
.pl-box-btm .btn-dp i{
    margin-right: 3px;
}
.pl-box-btm .btn-dp:hover{
    color: #36d38c;
}
.pl-form-box {
    margin-top: 10px;
    display: none;
}