<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学慧网</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/es-icon.css">
    <link rel="stylesheet" href="css/comment.css">
    <link rel="stylesheet" href="css/login.css">
    <link href="css/global.css" rel="stylesheet" />
    <link href="css/exercise.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/comment.css">
    <script src="js/jquery-1.12.3.min.js"></script>
</head>
<body>
<div class="site-topbar">
    <div class="container">
        <div class="topbar-nav">
            <a rel="nofollow" href="#" >学慧网</a>
            <span class="sep">|</span>
            <a rel="nofollow" href="" target="_blank">学慧网移动版</a>
            <span class="sep">|</span>
            <a rel="nofollow" href="#" target="_blank" >问题反馈</a>
        </div>
        <div class="topbar-cart">
            <a rel="nofollow" class="cart-mini" href="#">我收藏的课程</a>
            <div class="cart-menu">
                <div class="loading">
                    <div class="loader">收藏中还没有课程，赶紧选课吧！</div>
                </div>
            </div>
        </div>
        <div class="topbar-info">
            <a class="login" href="javascript:;">登录</a>
            <span class="sep">|</span>
            <a class="reginster" href="#">注册</a>
        </div>
    </div>
</div>
<div class="site-header">
    <div class="container clearfix">
        <div class="header-logo">
            <a class="logo" href="#" title="学慧网">D.C.base</a>
        </div>
        <div class="flash-img">
            <img src="images/picture.gif">
        </div>
        <div class="header-nav" id="header-nav">
            <ul class="nav-list-top clearfix" id="nav-list">
                <li class="nav-item">
                    <a class="link" href="index.html"><span class="text">首页</span><span class="arrow"></span></a>
                </li>
                <li class="nav-item course-select">
                    <a class="link" href="#"><span class="text">选课</span><span class="arrow"></span></a>
                </li>
                <li class="nav-item cur">
                    <a class="link" href="#"><span class="text">题库</span><span class="arrow"></span></a>
                </li>
                <li class="nav-item">
                    <a class="link" href="#"><span class="text">资讯</span><span class="arrow"></span></a>
                </li>
                <li class="nav-item">
                    <a class="link" href="javascript:;"><span class="text">小组</span><span class="arrow"></span></a>
                </li>
                <li class="nav-item">
                    <a class="link" href="#"><span class="text">活动</span><span class="arrow"></span></a>
                </li>
                <li class="nav-item">
                    <a class="link" href="#"><span class="text">服务</span><span class="arrow"></span></a>
                </li>
                <li id="nav_line"></li>
            </ul>
        </div>
        <div class="header-search">
            <form class="search-form clearfix" action="" method="get">
                <input class="search-text" type="search" id="search" name="keyword">
                <button class="search-btn es-icon es-icon-search"></button>
                <div class="search-hot-words">
                    <a  href="#">采购师</a>
                    <a  href="#">人力资源管理师</a>
                </div>
                <div class="keyword-list hide">
                    <ul class="result-list">
                        <li data-key="人力资源管理师">
                            <a href="#">人力资源管理师</a>
                        </li>
                        <li data-key="公共营养师">
                            <a href="#">公共营养师</a>
                        </li>
                        <li data-key="行政管理">
                            <a href="#">行政管理</a>
                        </li>
                        <li data-key="心理咨询师">
                            <a href="#">心理咨询师</a>
                        </li>
                        <li data-key="人力资源管理师">
                            <a href="#">人力资源管理师</a>
                        </li>
                        <li data-key="公共营养师">
                            <a href="#">公共营养师</a>
                        </li>
                        <li data-key="行政管理">
                            <a href="#">行政管理</a>
                        </li>
                        <li data-key="心理咨询师">
                            <a href="#">心理咨询师</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
    <div class="header-nav-menu">
        <div class="container">
            <ul class="children-list clearfix">
                <li class="first">
                    <div class="figure figure-thumb">
                        <a href="#" target="_blank">
                            <img src="images/nav1.jpg" >
                        </a>
                    </div>
                    <div class="title">
                        <a href="#" target="_blank">人力资源管理师</a>
                    </div>
                </li>
                <li>
                    <div class="figure figure-thumb">
                        <a href="#" target="_blank">
                            <img src="images/nav2.jpg" >
                        </a>
                    </div>
                    <div class="title">
                        <a href="#" target="_blank">公共营养师</a>
                    </div>
                </li>
                <li>
                    <div class="figure figure-thumb">
                        <a href="#" target="_blank">
                            <img src="images/nav3.jpg" >
                        </a>
                    </div>
                    <div class="title">
                        <a href="#" target="_blank">会计从业资格证</a>
                    </div>
                </li>
                <li>
                    <div class="figure figure-thumb">
                        <a href="#" target="_blank">
                            <img src="images/nav4.jpg" >
                        </a>
                    </div>
                    <div class="title">
                        <a href="#" target="_blank">远程网络教育</a>
                    </div>
                </li>
                <li>
                    <div class="figure figure-thumb">
                        <a href="#" target="_blank">
                            <img src="images/nav5.jpg" >
                        </a>
                    </div>
                    <div class="title">
                        <a href="#" target="_blank">幼儿教师资格证</a>
                    </div>
                </li>
                <li>
                    <div class="figure figure-thumb">
                        <a href="#" target="_blank">
                            <img src="images/nav6.jpg" >
                        </a>
                    </div>
                    <div class="title">
                        <a href="#" target="_blank">更多课程</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="main">
    <div class="container clearfix">
        <div class="slider">
            <div class="tk-menu-title active">
                <a href="index.html">
                    <div class="tk-title-content">
                        <h2>一级技能精讲</h2>
                        <a href="javascript:void(0)" class="a-change">[切换科目]</a>
                    </div>
                </a>
            </div>
            <ul class="tk-menu-list">
                <li class="mn-io">
                    <a href="exam.html">
                        <i></i>
                        <span>模拟考场</span>
                    </a>
                </li>
                <li class="zj-io">
                    <a href="chapter.html">
                        <i></i>
                        <span>章节练习</span>
                    </a>
                </li>
                <li class="ln-io">
                    <a href=hsk.html">
                        <i></i>
                        <span>历年真题</span>
                    </a>
                </li>
                <li class="yc-io">
                    <a href="fallible.html">
                        <i></i>
                        <span>易错题</span>
                    </a>
                </li>
                <li class="mr-io">
                    <a href="daily.html">
                        <i></i>
                        <span>每日一练</span>
                    </a>
                </li>
                <li class="sp-io">
                    <a href="video.html">
                        <i></i>
                        <span>视频题</span>
                    </a>
                </li>
                <li class="nl-io">
                    <a href="report.html">
                        <i></i>
                        <span>能力评估</span>
                    </a>
                </li>
                <li class="lx-io">
                    <a href="practice.html">
                        <i></i>
                        <span>我的练习</span>
                    </a>
                </li>
                <li class="ct-io active">
                    <a href="error.html">
                        <i></i>
                        <span>错题重做</span>
                    </a>
                </li>
                <li class="bj-io">
                    <a href="notes.html">
                        <i></i>
                        <span>我的笔记</span>
                    </a>
                </li>
                <li class="sc-io">
                    <a href="favorites.html">
                        <i></i>
                        <span>我的收藏</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tk-content">
            <div class="exam-record">
                <div class="hd">
                    <span class="headline">错题重做 <span class="sep">&gt;</span>人力资源管理（一）</span>
                </div>
            </div>
            <div class="exam-test f-answer f-f14">
                <div id="content">
                    <div class="m-question" data-favid="47804" data-questionid="34724" data-isdel="false">
                        <div class="m-question-title">
                            <span class="number">
                               1
                                <div class="probable-error">
                                    <div class="ico"></div>
                                </div>
                            </span>
                            <div class="f-title">在当代中国，爱国主义首先体现在【<span lang="EN-US">&nbsp;&nbsp; </span>】</div>
                        </div>
                        <div class="m-question-list-html">
                            <div class="m-choicebox">
                                <ul class="single">
                                    <li class="question-option-list "><span>A．</span><div class="option-content">对社会主义中国的热爱上</div></li>
                                    <li class="question-option-list "><span>B．</span><div class="option-content"><p>拥护中国共产党</p></div></li>
                                    <li class="question-option-list "><span>C．</span><div class="option-content">全面肯定和接受中华民族道德传统</div></li>
                                    <li class="question-option-list "><span>D．</span><div class="option-content">大力弘扬改革创新，树立与时俱进的精神</div></li>
                                </ul>
                            </div>
                        </div>
                        <div class="answer">
                            <div class="answer-tool">
                                <div class="f-fl answer-tool-answer"><span class="txt">正确答案：</span><span class="option right">A</span>
                                    <span class="txt">我的答案：</span><span class="option empty">未答</span>
                                </div>
                                <div class="f-fr">
                                    <a class="btn-analysis dn">查看解析</a>
                                </div>
                            </div>
                            <div class="answer-bd">
                                <div class="poptip-arrow">
                                    <em>◆</em>
                                    <i>◆</i>
                                </div>
                                <div class="analyze">
                                    <div class="analyze-hd">
                                        <span class="title difficulty">试题难度：</span>
                                    </div>
                                    <div class="txt">
                                        <div class="title-start">
                                            <i class="ui-check"></i> <i class=""></i> <i class=""></i> <i class=""></i> <i class=""></i>
                                            <span>（难度：非常简单）</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="analyze">
                                    <div class="analyze-hd">
                                        <span class="title statistics">统　　计：</span>
                                    </div>
                                    <div class="txt">共<strong class="orgTxt">13</strong>人答过，平均正确率<strong class="greenTxt">77%</strong></div>
                                </div>
                                <!--课程讲解-->
                                <div class="analyze js-page-analysis-item" data-questionid="34724">
                                    <div class="analyze-hd"><span class="title resolve">参考解析</span></div><div class="txt ml"><p class="MsoNormal">
                                    【考点点击】本题在<span lang="EN-US">2010</span>年<span lang="EN-US">4</span>月真题第一大题第<span lang="EN-US">5</span>小题考查过，考查的知识点是爱国主义与爱主义的统一。
                                </p>
                                    <p class="MsoNormal">
                                        【要点透析】坚持爱国主义与爱社会主义的统一，是新时期爱国主义的基本特征，在当代中国，爱国主义首先体现在对社会主义中国的热爱上。
                                    </p></div>
                                </div>
                                <div class="answer-review-w f-mt30 btn-question-discuss">
                                    <div class="answer-review-w-hd">
                                        <div class="review-lf">第1题 笔记记录</div>
                                        <div class="review-rt">
                                            <a href="javascript:void(0)" class="btn-discuss-list-me">我的笔记(1)</a> |
                                            <a href="javascript:void(0)" class="btn-discuss-list-all">所有笔记(1)</a>
                                        </div>
                                    </div>
                                    <!--评论-->
                                    <div class="answer-review question-discuss-frame" data-questionid="34724">
                                        <div class="reply-box clearfix">
                                            <div class="question-discuss-input">
                                                <div class="reply-box-cont clearfix">
                                                    <textarea class="question-discuss-content" placeholder="好记性不如烂笔头，您可以记录试题笔记" style="height: 55px;border-radius: 2px;"></textarea>
                                                </div>
                                                <div class="reply-box-bd">
                                                    <span class="number">限500字</span>
                                                    <a href="javascript:void(0)" class="login-btn btn-discuss-send">保存</a>

                                                </div>
                                            </div>
                                        </div>
                                        <!--列表-->
                                        <div class="reply-info">
                                            <div class="reply-classify  js_discuss_head" data-questionid="32052" style="">
                                                <div class="reply-classify-hd">
                                                    <a href="javascript:void(0)" class="bt2 bt1" data-action="">全部笔记</a>
                                                    <a href="javascript:void(0)" class="bt2" data-action="myReview">我的笔记</a>
                                                </div>

                                            </div>
                                            <ul class="np-comment-list" id="question-discuss-list-32052">
                                                <li class="np-post discuss-list discuss-list-4198" data-parentid="0" data-discussid="4198">

                                                    <img alt="黄伟雄" src="images/nan.jpg" class="np-avatar popClick card">
                                                    <span class="np-status"></span>
                                                    <div class="np-post-body">
                                                        <div class="np-post-header">
                                                            <a class="np-user popClick " href="javascript:void(0)">黄伟雄</a>

                                                            <a style="display:none" class="replywho np-icon-reply-weak np-user" href="javascript:void(0)"></a>
                                                        </div>
                                                        <div class="np-post-content" data-height="5">
                                                            <div>行政管理</div>
                                                        </div>
                                                        <div class="np-post-footer">
                                                            <div class="f-lf"> 2016-02-03</div>
                                                            <div class="f-rt">
                                                                <a class="np-btn np-btn-upvote upvote discuss-digg good" data-discussid="4198" href="javascript:void(0)" title="讲的好，顶一下">顶(<em>0</em>)</a>
                                                                <a class="np-btn np-btn-oppose discuss-digg" data-discussid="4198" href="javascript:void(0)" title="不好，踩一下">踩(<em>0 </em>)</a>
                                                                <a class="np-btn np-btn-reply reply" href="javascript:void(0)">回复(<em>0</em>)</a>

                                                            </div>
                                                        </div>
                                                        <div class="reply-textarea" style="display:none">
                                                            <textarea class="discuss-reply-content" placeholder="在此回复黄伟雄"></textarea>
                                                            <div class="commtSub">
                                                                <div class="np-reply-box-footer clearfix">
                                                                    <div class="np-reply-box-info">
                                                                    </div>
                                                                    <a href="javascript:void(0)" class="submit btn-discuss-reply-send">回复</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <ul class="children">
                                                        <!--子列表-->


                                                    </ul>
                                                </li>
                                            </ul>
                                            <div class="myJsPage" id="question-discuss-list-page-32052" style="display: none;"></div>
                                            <a href="javascript:void(0)" class="btn-default reply-loading btn-question-discuss-get" style="display: none;">点击查看试题笔记（1）</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:void(0)" class="del" title="移除错题"></a>
                    </div>
                </div>
                <div class="pg" id="paginatio"></div>
            </div>
        </div>
    </div>
</div>
<script id="exam_list_tpl" type="text/html">
    {{each list as value index}}
    {{if value.topid>0}}
    <div class="m-material" data-linkexamid="{{value.topid}}">
        <div id="question-{{value.topid}}-body" style="display: none">{{value.topquestion}}</div>
        {{/if}}
        <div class="m-question" data-favid="{{value.favid}}" data-questionid="{{value.id}}"   data-isdel="false">
            <div class="m-question-title">
                <span class="number">
                   {{value.num}}
                    <div class="probable-error">
                        <div class="ico"></div>
                    </div>
                </span>


                <div class="f-title">{{value.question}}</div>
                {{if value.topid>0}}
                <a href="javascript:void(0)" class="btn-pop page-question-popup">查看材料</a>
                {{/if}}


            </div>
            <div class="m-question-list-html">
                {{if value.questiontype==1||value.questiontype==2||value.questiontype==7 ||value.questiontype==28}}
                <div class="m-choicebox">
                    <ul class="{{value | GetCss}}">
                        {{value | questionOption}}
                    </ul></div>
                {{/if}}

            </div>
            <div class="answer">
                <div class="answer-tool">
                    <div class="f-fl answer-tool-answer" style="display: none"><span class="txt">正确答案：</span><span class="option right">{{value.answer==''?'暂未提供参考答案':value.answer}}</span>
                        {{if value.questiontype==1||value.questiontype==2||value.questiontype==4||value.questiontype==7 ||value.questiontype==22 ||value.questiontype==27 ||value.questiontype==28 }}
                        <span class="txt">我的答案：</span><span class="option empty">{{value.userAnswer==''?'未答':value.userAnswer}}</span>

                        {{/if}}
                    </div>
                    <div class="f-fr">
                        <a class="btn-analysis dn">查看解析</a>


                    </div>
                </div>
                <div class="answer-bd" style="display: none">
                    <div class="poptip-arrow">
                        <em>&#9670;</em>
                        <i>&#9670;</i>
                    </div>
                    {{if value.questiontype!=1&&value.questiontype!=2&&value.questiontype!=4&&value.questiontype!=7&&value.questiontype!=22&&value.questiontype!=27&&value.questiontype!=28 }}
                    <div class="analyze">
                        <span class="title">我的答案：</span>
                        <div class="txt">{{value.userAnswer==""?"未答":value.userAnswer}}</div>
                    </div>
                    {{/if}}
                    <div class="analyze">
                        <div class="analyze-hd">
                            <span class="title difficulty">试题难度：</span>
                        </div>
                        <div class="txt">
                            {{include 'tpl-rank-simple' value}}
                        </div>
                    </div>
                    <div class="analyze">
                        <div class="analyze-hd">
                            <span class="title statistics">统　　计：</span>
                        </div>
                        <div class="txt">共<strong class="orgTxt">{{value.doneCount}}</strong>人答过，平均正确率<strong class="greenTxt">{{value | rightRate}}%</strong></div>
                    </div>
                    <!--课程讲解-->

                    <div class="analyze js-page-analysis-item" data-questionid="{{value.id}}">
                        {{value | formatAnalysis}}
                    </div>
                    {{include 'tpl-question-discuss' value}}

                </div>
            </div>
            <a href="javascript:void(0)" class="del" title="移除错题"></a>
        </div>
        {{if value.topid>0}}
    </div>
    {{/if}}
    {{/each}}
</script>

<!--模板数据：难易程度显示-->
<script type="text/html" id="tpl-rank-simple">
    <div class="title-start">
        {{rank | getRank}}

        <span style="float:left;line-height:14px; height:14px; color:#f06000">{{rank | getRankLabel}}</span>
    </div>
</script>
<!--模板数据：评论提示-->
<script type="text/html" id="tpl-question-discuss">
    <div class="answer-review-w f-mt30 btn-question-discuss">
        <div class="answer-review-w-hd">
            <div class="review-lf">第{{num}}题 笔记记录</div>
            <div class="review-rt">
                <a href="javascript:void(0)" class="btn-discuss-list-me">我的笔记({{myNoteCount}})</a> |
                <a href="javascript:void(0)" class="btn-discuss-list-all">所有笔记({{noteCount}})</a>
            </div>
        </div>
        <!--评论-->
        {{include 'tpl-question-discuss-frame'}}


    </div>
</script>
<!--模板数据：评论框架-->
<script type="text/html" id="tpl-question-discuss-frame">
    <div class="answer-review question-discuss-frame" data-questionid="{{id}}"  >
        <div class="reply-box clearfix">

            <div class="question-discuss-input">
                <div class="reply-box-cont clearfix">
                    <textarea class="question-discuss-content" placeholder="好记性不如烂笔头，您可以记录试题笔记" style="height: 55px;border-radius: 2px;"></textarea>
                </div>
                <div class="reply-box-bd">
                    <span class="number">限500字</span>
                    <a href="javascript:void(0)" class="login-btn btn-discuss-send">保存</a>

                </div>
            </div>
        </div>
        <!--列表-->
        <div class="reply-info">
            {{include 'question-discuss-head-tpl'}}
            <ul class="np-comment-list" id="question-discuss-list-{{id}}">
                <!--列表 item-->
            </ul>
            <div class="myJsPage" id="question-discuss-list-page-{{id}}"></div>
            <a href="javascript:void(0)" class="btn-default reply-loading btn-question-discuss-get"  >点击查看试题笔记（{{noteCount}}）</a>
        </div>
    </div>
</script>

<!--模板数据：笔记头部-->
<script type="text/html" id="question-discuss-head-tpl">
    <div class="reply-classify  js_discuss_head" data-questionid="{{id}}" style="display:none">
        <div class="reply-classify-hd">
            <a href="javascript:void(0)" class="bt2 bt1" data-action="">全部笔记</a>
            <a href="javascript:void(0)" class="bt2" data-action="myReview">我的笔记</a>
        </div>
    </div>
</script>
<!--模板数据：评论列表-->
<script type="text/html" id="tpl-question-discuss-list">
    {{each list as value index}}
    <li class="np-post discuss-list discuss-list-{{value.id}}" data-parentid="{{value.topid}}" data-discussid="{{value.id}}" >

        <img alt="{{value.UserName}}" src="{{value.UserPhoto}}" class="np-avatar popClick card">
        <span class="np-status"></span>
        <div class="np-post-body">
            <div class="np-post-header">
                <a class="np-user popClick " href="javascript:void(0)">{{value.UserName}}</a>

                <a style="display:none" class="replywho np-icon-reply-weak np-user" href="javascript:void(0)"></a>
            </div>
            <div class="np-post-content" data-height="5">
                <div>{{value.Content}}</div>
            </div>
            <div class="np-post-footer">
                <div class="f-lf"> {{value.AddTime}}</div>
                <div class="f-rt">
                    <a class="np-btn np-btn-upvote upvote discuss-digg good" data-discussid="{{value.id}}" href="javascript:void(0)" title="讲的好，顶一下">顶(<em>{{value.diggUp}}</em>)</a>
                    <a class="np-btn np-btn-oppose discuss-digg" data-discussid="{{value.id}}" href="javascript:void(0)" title="不好，踩一下">踩(<em>{{value.diggDown}} </em>)</a>
                    <a class="np-btn np-btn-reply reply" href="javascript:void(0)">回复(<em>{{value.list.length}}</em>)</a>
                    {{if value.isDel}}
                    <a class="np-btn np-btn-discuss-del discuss-del blueTxt" data-discussid="{{value.id}}" href="javascript:void(0)">删除</a>
                    {{/if}}
                </div>
            </div>
            <div class="reply-textarea" style="display:none">
                <textarea class="discuss-reply-content" placeholder="在此回复{{value.UserName}}"></textarea>
                <div class="commtSub">
                    <div class="np-reply-box-footer clearfix">
                        <div class="np-reply-box-info">
                        </div>
                        <a href="javascript:void(0)" class="submit btn-discuss-reply-send" >回复</a>
                    </div>
                </div>
            </div>
        </div>
        <ul class="children">
            <!--子列表-->

            {{include 'tpl-question-discuss-list' value}}
        </ul>
    </li>
    {{/each}}
</script>

<footer class="es-footer">
    <div class="footer-link">
        <div class="footer-main clearfix">
            <div class="link-item">
                <img src="images/road.png" alt="新生上路">
                <h3>新生上路</h3>
                <ul>
                    <li>
                        <a href="#" target="_blank">如何注册</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">如何购课</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">如何赠送</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">学习课程</a>
                    </li>
                </ul>
            </div>
            <div class="link-item">
                <img src="images/help.png" alt="帮助中心">
                <h3>帮助中心</h3>
                <ul>
                    <li>
                        <a href="#" target="_blank">账户问题</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">直播须知</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">支付方式</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">常见问题</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">视频观看问题</a>
                    </li>
                </ul>
            </div>

            <div class="link-item">
                <img src="images/about.png" alt="关于我们">
                <h3>关于我们</h3>
                <ul>
                    <li>
                        <a href="#" target="_blank">了解学慧网</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">联系我们</a>
                    </li>
                    <li>
                        <a href="#" target="_self">加入学慧网</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">关注我们</a>
                    </li>
                </ul>
            </div>
            <div class="contact-item">
                <p class="phone">400-680-7650</p>
                <p class="time">周一至周五 9:00-19:00</p>
                <a href="#" class="iphone-btn">
                    <i class="phone-ico"></i>
                    学慧网官方在线客服
                </a>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="mts">
                课程内容版权均归
                <a href="/">
                    北京学慧网络教育科技有限公司
                </a>
                所有
                <a class="mlm" href="http://www.miibeian.gov.cn/" target="_blank">
                    京ICP备15007758号-1    京ICP证150990号
                </a>
            </div>
        </div>
    </div>
</footer>
<div id="J_GotoTop" class="elevator">
    <a href="feedback.html" class="elevator-msg" title="意见反馈"><i class="feedback"></i></a>
    <a href="javascript:" class="elevator-app" title="app下载">
        <i class="app-down"></i>
        <div class="elevator-app-box"></div>
    </a>
    <a href="javascript:" class="elevator-weixin" id="js-elevator-weixin" title="官方微信">
        <i class="weixin"></i>
        <div class="elevator-weixin-box"></div>
    </a>
    <a href="javascript:void(0)" class="elevator-top" style="" title="返回顶部" id="backTop">
        <i class="gotop"></i>
    </a>
</div>
<!--登录之后显示-->
<div class="pop_login">
    <div class="login-content">
        <div class="login-view" style="display:block" id="welcome">
            <a href="javascript:void(0);" class="poplogin_close"><i class="es-icon es-icon-close01"></i></a>
            <div class="login-head">
                <h3>欢迎登录学慧网</h3>
            </div>
            <div class="login-body">
                <div class="xh-input input-username">
                    <input type="text" class="username" name="username" autocomplete="off" autocapitalize="off" autocorrect="off" data-enable-clean="true" data-rule-required="true" placeholder="手机号/用户名/邮箱" data-hp-widgets="1">
                    <i class="es-icon es-icon-person"></i>
                    <span class="xh-err-tips">该用户未注册</span>
                    <span class="xh-icon xh-flag"></span>
                </div>
                <div class="xh-input input-password">
                    <input type="password" class="password" name="password" data-rule-required="true" maxlength="20" placeholder="密码" data-hp-widgets="2">
                    <i class="es-icon es-icon-lock1"></i>
                </div>
                <div class="for-rem">
                    <a class="xh-input forget-password" href="forgot-password.html">忘记密码？</a>
                    <label class="rememberme"><input type="hidden"  value="0"><label>
                        <input type="checkbox" id="loginform-rememberme"> 下次自动登录</label>
                    </label>
                </div>
                <div class="submit">
                    <button class="btn" type="submit" id="btn">登&nbsp;&nbsp;录</button>
                    <p>
                        还没有账号？
                        <a href="register.html" class="register-now">马上注册</a>
                    </p>
                </div>
                <div class="social">
                    <span>社交账号登录：</span>
                    <a href="#" class="es-icon es-icon-qq"></a>
                    <a href="#" class="es-icon es-icon-weixin"></a>
                    <a href="#" class="es-icon es-icon-weibo"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/utils.js"></script>
<script src="js/layer.min.js"></script>
<script src="js/template.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/register.js"></script>
<script src="js/courses.js"></script>
<script>
    $(function () {
        $("#page-left-nav").sticky({ topSpacing: 0 });
        $(".js-history").addClass("ui-check");

        //
        $('#elevator').click(function () {
            $('body,html').animate({ scrollTop: 0 });
        });
        //END
        template.config('escape', false);
        template.helper("GetCss", function (item) {

            if (item.questiontype == 1) {
                return "single";
            }
            else {
                return "multiple";
            }

        });

        /**
         * 难易程度级别转换
         */
        template.helper('getRank', function (rank) {
            var html = "";
            for (var i = 1; i <= 5; i++) {
                html += " <i class='";
                if (i <= rank) {
                    html += "ui-check";
                }
                html += "'></i>"
            }
            return html;

        });
        template.helper('getRankLabel', function (rank) {
            var a = ['非常简单', '简单', '一般', '难', '非常难'];
            rank = parseInt(rank);
            return rank > 0 ? '（难度：' + a[rank - 1] + '）' : '';
        });
        //错误率
        template.helper('errorRate', function (value) {
            return (100 * (parseInt(value.errCount) / parseInt(value.doneCount))).toFixed(0) == "NaN" ? 0 : (100 * (parseInt(value.errCount) / parseInt(value.doneCount))).toFixed(0);
        });
        //正确率
        template.helper('rightRate', function (value) {
            return parseInt(100 * (parseInt(value.doneCount - value.errCount) / parseInt(value.doneCount))).toFixed(0) == "NaN" ? 0 : (100 * (parseInt(value.doneCount - value.errCount) / parseInt(value.doneCount))).toFixed(0);
        });
        /**
         * 解析转换
         */
        template.helper('formatAnalysis', function (value) {
            var str = value.analysis;
            str = str || '';
            str = str.replace(/^\s/g, '').replace(/^<br \/>/g, '');

            var html = str === '' ? '<div class="analyze-hd"><span class="title resolve">参考解析：</span></div><div class="txt">暂无解析</div>' : '<div class="analyze-hd"><span class="title resolve">参考解析</span></div><div class="txt ml">' + str + '</div>';
            return html;
        });

        template.helper("questionOption", function (item) {
            var _html = '';
            var judgeOption = ['对', '错'];
            var optionCount = 0;
            var _option, value, newOption;

            optionCount = item.optionList.length

            for (var i = 0; i < optionCount; i++) {
                _option = item.optionList[i].no;
                value = item.optionList[i].title;
                _html += '<li class="question-option-list "  ><span>' + _option + '．</span><div class="option-content">' + value + '</div></li>';
            }

            return _html;
        });
        //END
        var config = { categoryid:65,pageIndex:1};
        var element = $('body');
        function event() {
            element
                    .on('click', '.btn-analysis', function () {
                        var __this = $(this), __parents = __this.parents('.answer'), __analyze = __parents.find('.answer-bd');
                        if (__this.hasClass('dn')) {
                            __this.removeClass('dn').html("隐藏解析");
                            __analyze.slideToggle();
                            __parents.find('.answer-tool-answer').show();
                        } else {
                            __this.addClass('dn').html("查看解析");
                            __analyze.slideToggle();
                            __parents.find('.answer-tool-answer').hide();
                        }

                    }).on('contextmenu', function() {
                return false;
            }).on("selectstart",function(){return false;})
                    /**
                     * 评论删除
                     */
                    .on('click', '.discuss-del', function () {
                        var self = $(this),
                                discussId = self.attr('data-discussid') || 0,
                                item = self.parents('[data-discussid="' + discussId + '"]');
                        layer.confirm('您确定要删除您的笔记吗？',function(index){
                            var layIdex=  layer.load("",0);
                            $.ajax({ url: '/content/submit/tiku.ashx', dataType: "json", data: {type:28, examid: discussId }, type: 'post' })
                                    .fail(function () {layer.close(layIdex); })
                                    .done(function (msg) {
                                        layer.close(layIdex);
                                        if (msg.err == 0) {
                                            item.fadeOut();
                                        }
                                        else
                                        {
                                            layer.tips(msg.msg, self , {guide: 0, time: 2});
                                        }
                                    });
                        });
                    })
                    .on('click', '.del', function () {
                        var _this = $(this),
                                _parent = _this.parents('.m-question'),
                                _material = _this.parents('.m-material'), notError = false,
                                favid = _parent.data('favid');

                        if (favid > 0) {
                            layer.confirm('是否确认从收藏中移除该试题？',function(index){
                                var layIdex=  layer.load("",0);
                                $.ajax({ url: '/content/submit/tiku.ashx', dataType: "json", data: {type:29, favid: favid }, type: 'post' })
                                        .fail(function () {layer.close(layIdex); })
                                        .done(function (msg) {
                                            layer.close(layIdex);
                                            if (msg.err == 0) {
                                                if (_material != null && _material.length > 0) {
                                                    _material.hide("slow").find('.m-question').attr('data-isdel', 'true');
                                                } else {
                                                    _parent.hide("slow").attr('data-isdel', 'true');
                                                }
                                                $("#content .m-question").each(function () {
                                                    if ($(this).attr('data-isdel') == 'false') {
                                                        notError = true;
                                                    }
                                                });
                                                if (!notError) {
                                                    $('#content').html(getNotError());
                                                }
                                            }
                                        });
                            });
                        }
                    }).on('click', '.page-question-popup', function () {
                        var self = $(this),
                                parent = self.parents('.m-material'),
                                questionId = parent.attr('data-linkexamid'),
                                that = $('#question-' + questionId + '-body'),
                                dialogTitle = '题材料',
                                dialogBody = '<div class="pop-datum"><div class="pop-datum-cont">' + that.html() + '</div></div>';
                        var pageii = $.layer({
                            title:dialogTitle,
                            type: 1,

                            area: ['auto', 'auto'],

                            shade: [0.5, '#000'],
                            page: {
                                html: dialogBody
                            }
                        });

                    })
                    /**
                     * 查看讨论（默认查看自己的评论，自己没有时显示所有评论）
                     */
                    .on('click', '.btn-question-discuss-get', function () {
                        var self = $(this),

                                item = self.parents('.m-question'),
                                questionId = item.attr('data-questionId');
                        //
                        self.hide();
                        self.find('.js_discuss_head a').removeClass('bt1').eq(0).addClass('bt1');
                        element.trigger('trigger.getDiscuss', [questionId, '0']);

                    })  /**
                     * 筛选笔记
                     */
                    .on('click', '.js_discuss_head a', function () {
                        var self = $(this),
                                item = self.parents('.js_discuss_head'),
                                questionId = item.attr('data-questionId'),
                                myReview = self.data('action')?"1":"0";

                        self.addClass('bt1').siblings().removeClass('bt1');
                        element.trigger('trigger.getDiscuss', [questionId, myReview]);
                    })
                    /**
                     * 查看我的笔记
                     */
                    .on('click', '.btn-discuss-list-me', function () {
                        var self = $(this),
                                item = self.parents('.m-question'),
                                questionId = item.attr('data-questionId'),
                                getObj = item.find('.btn-question-discuss-get');
                        //
                        getObj.hide();
                        //
                        item.find('.js_discuss_head a').removeClass('bt1').eq(1).addClass('bt1');
                        element.trigger('trigger.getDiscuss', [questionId, '1']);
                    })
                    /**
                     * 查看所有笔记
                     */
                    .on('click', '.btn-discuss-list-all', function () {
                        var self = $(this),
                                item = self.parents('.m-question'),
                                questionId = item.attr('data-questionId'),
                                getObj = item.find('.btn-question-discuss-get');
                        //
                        getObj.hide();
                        item.find('.js_discuss_head a').removeClass('bt1').eq(0).addClass('bt1');
                        element.trigger('trigger.getDiscuss', [questionId, '0']);
                    })
                    /**
                     * 获取评论
                     */
                    .on('trigger.getDiscuss', function (event, questionId, myReview, pageIndex, callback) {
                        var obj = $('#question-discuss-list-' + questionId),
                                discussPageSize = 5;
                        pageIndex = pageIndex || 1;
                        obj.html('<div class="page_ajax_loading"></div>');
                        $.ajax({ url: '/content/submit/tiku.ashx', dataType: "json", data: {type:27, examid: questionId,pageIndex:pageIndex,pageSize: discussPageSize, myReview: myReview }, type: 'post' })
                                .fail(function () { obj.html('<div style="padding: 30px 0;text-align: center">查看评论失败，服务器出现了小状况！</div>');})
                                .done(function (data) {
                                    if (data.err == 0) {
                                        var html;
                                        if (data.list.length > 0) {
                                            html = template('tpl-question-discuss-list', data);
                                            if (data.count > discussPageSize) {
                                                $('#question-discuss-list-page-' + questionId).easyPaginate({
                                                    items: data.count,
                                                    isprev: true,
                                                    isnext: true,
                                                    sides: 3,
                                                    currentPage: data.pgIndex,
                                                    itemsOnPage: data.pgSize,
                                                    onClickcallback: function (_page) {
                                                        element.trigger('trigger.getDiscuss', [questionId, myReview,  _page]);
                                                    }

                                                });

                                                $('#question-discuss-list-page-' + questionId).show();
                                            } else {
                                                $('#question-discuss-list-page-' + questionId).hide();
                                            }
                                            //
                                            obj.parent().find('.js_discuss_head').show();
                                        } else {
                                            html = '<div style="padding: 30px 0;text-align: center">好记性不如烂笔头，赶紧记录下解题思路 </div>';
                                            $('#question-discuss-list-page-' + questionId).hide();
                                        }
                                        obj.html(html);


                                        callback && callback();
                                    }
                                    else
                                    {
                                        obj.html('<div style="padding: 30px 0;text-align: center">查看评论失败，服务器出现了小状况！</div>');
                                    }
                                });
                    })
                    /**
                     * 自定义事件：评论
                     */
                    .on('trigger.sendDiscuss', function (event, self, questionId, discussContentObj, replyId, callback) {
                        var content = discussContentObj.val() || '';
                        replyId = replyId || 0;
                        //
                        if (questionId === 0) {
                            layer.tips('配置错误', self , {guide: 0, time: 2});

                            return false;
                        }
                        if (content === '') {
                            layer.tips('请先输入内容', discussContentObj , {guide: 0, time: 2});

                            return false;
                        }
                        if (content.length < 3) {
                            layer.tips('内容必须大于3个字', discussContentObj , {guide: 0, time: 2});

                            return false;
                        }
                        if (content.length > 500) {
                            layer.tips('内容长度不能超过500个字（<em class="redTxt">' + content.length + '</em>）', discussContentObj , {guide: 0, time: 2});
                            return false;
                        }

                        //
                        self.hide().after('<div class="page_ajax_loading_bg" style="width: 45px;height: 35px;float: right;"></div>');

                        $.ajax({ url: '/content/submit/tiku.ashx', dataType: "json",type: "POST", data:
                        {
                            examId: questionId,
                            type: 25,
                            replyId: replyId,
                            content: escape(content)
                        }
                        }) .fail(function () {
                                    layer.tips(msg.msg, discussContentObj , {guide: 0, time: 2});
                                    self.show().next().hide();
                                })
                                .done(function (msg) {
                                    if(msg.err==0)
                                    {
                                        var html = template('tpl-question-discuss-list',msg);
                                        discussContentObj.val('');
                                        self.show().next().hide();
                                        callback && callback(html);

                                    }
                                    else
                                    {
                                        layer.tips(msg.msg, discussContentObj , {guide: 0, time: 2});
                                        self.show().next().hide();
                                    }
                                });
                    })
                    /**
                     * 发讨论
                     */
                    .on('click', '.btn-discuss-send', function () {
                        var self = $(this),
                                item = self.parents('.question-discuss-frame'),
                                questionId = item.attr('data-questionId') || 0,
                                discussContentObj = item.find('.question-discuss-content') ;


                        element.trigger('trigger.sendDiscuss', [self, questionId, discussContentObj, 0,  function (html) {
                            var obj = $('#question-discuss-list-' + questionId);
                            obj.find('li').length > 0 ? obj.prepend(html) : obj.html(html);
                        }]);
                    })

                    /**
                     * 展开回复
                     */
                    .on('click', '.reply', function () {
                        var self = $(this),
                                item = self.parents('.m-question'),
                                replyFrame = self.parents('.np-post-body'),
                                reply = replyFrame.find('.reply-textarea'),
                                questionId = item.attr('data-questionId');
                        reply.slideToggle(function () {

                        });
                    })
                    /**
                     * 发回复
                     */
                    .on('click', '.btn-discuss-reply-send', function () {
                        var self = $(this),
                                list = self.parents('.discuss-list'),
                                item = list.first(),
                                question = self.parents('.question-discuss-frame'),
                                questionId = question.attr('data-questionId') || 0,
                                discussContentObj = item.find('.discuss-reply-content'),
                                parentItem = list.last(),
                                replyId = parentItem.data('discussid') || questionId,
                                replyList = item.find('.children:first');

                        element.trigger('trigger.sendDiscuss', [self, questionId, discussContentObj, replyId, function (html) {
                            replyList.find('li').length > 0 ? replyList.prepend(html) : replyList.html(html);
                        }]);
                    })
                    .on('click', '.discuss-digg', function () {
                        var self = $(this),
                                count = self.find('em'),
                                discussId = self.attr('data-discussid') || 0,
                                isDigg = self.is('[isDigg]'),
                                diggType = self.is('.good') ? 0 : 1;
                        if (!isDigg) {
                            $.ajax({
                                        url: '/content/submit/tiku.ashx', dataType: "json",type: "POST",
                                        data: {
                                            type: 5,
                                            dataid: discussId,
                                            diggType: diggType
                                        }
                                    })
                                    .fail(function () {
                                        layer.tips('表态失败，服务器出了小状况！', self , {guide: 0, time: 2});

                                    })
                                    .done(function (data) {
                                        if (data.err ==0) {
                                            self.parent().find(".discuss-digg").attr('isDigg', 'ture');
                                            count.text((parseInt(count.text()) || 0) + 1);
                                            layer.tips('表态成功', self , {guide: 0, time: 2});


                                        } else {
                                            layer.tips(data.msg, self , {guide: 0, time: 2});
                                        }
                                    });

                        } else {
                            layer.tips('您已经表过态了', self , {guide: 0, time: 2});

                        }
                    });
        }
        function getUserFavView() {
            var contentHtml = $('#content'), html = "", subQuestionTitle = "", question = "", temp = "";
            var pageSize = 10;
            $.ajax({ url: '/content/submit/tiku.ashx', dataType: "json",type: "POST", data: {   categoryid: config.categoryid , pageIndex: config.pageIndex, pageSize: pageSize,type:30 } })
                    .fail(function () { })
                    .done(function (msg) {
                        if(msg.err==0)
                        {
                            if (msg.list.length > 0) {
                                html += template('exam_list_tpl',msg);
                                contentHtml.html(html);
                                if (msg.count >=pageSize) {
                                    $("#paginatio").show();
                                    $("#paginatio").easyPaginate({
                                        items: msg.count,
                                        isprev: true,
                                        isnext: true,
                                        sides: 5,
                                        currentPage: msg.pgIndex,
                                        itemsOnPage: msg.pgSize,
                                        onClickcallback: function (page) {
                                            document.location.href="/tiku/favorites/views/"+config.categoryid+"/"+page;
                                        }

                                    });

                                }

                            } else {
                                $("#content").html(getNotError);
                            }
                        }
                        else
                        {
                            $("#content").html('<div class="m-question-hint">' + msg.msg + '</div>');
                        }


                    });
        }

        function getNotError() {
            var html = '<div class="m-question-hint"><div class="list-empty"><div class="book-pen"></div><div class="empty-text"><p>亲爱的同学，</p><p>暂无收藏记录哦！<a href="/exam/index">马上去收藏试题</a></p><p class="last">尽情期待！</p></div></div></div>';
            return html;
        }
        event();
        getUserFavView();

    });
</script>
<div class="modal-backdrop"></div>
</body>
</html>