.btn-bottmb{ margin-top: 20px;margin-bottom: 20px;}
.btn-bottmb > button{ margin-right: 20px;}
.h_textarea{ padding: 20px; min-height: 200px;}
.cour-mart{ margin-top: 22px; cursor: pointer;}
.c-addrss{text-align: left;margin-left: 0; background: #f9f9f9; padding-bottom: 20px;margin-top: 20px;}
.d-address{margin-left: 15px;padding-top: 7px;}



.addfots{ font-size:20px; padding-left:4px; padding-top: 4px;;}
.addssfont{ padding: 4px 10px 0 10px;}

/*地址补充*/
.address{width:25px;height:25px;background:#57b5e3;color:#fff;border-radius:3px;text-align:center;padding-top:6px;cursor:pointer}
.address_min{width:25px;height:25px;background:#aaa;color:#fff;border-radius:3px;text-align:center;padding-top:6px;cursor:pointer;margin-top:6px}
